version: "3"
services:
  edu-db:
    image: postgres
    container_name: "edu-db"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=edumanagement
    ports:
      - "5477:5432"
  edu-backend:
    image: edumanagement2022/edu-backend
    container_name: "edu-backend"
    ports:
      - "8082:8082"
      - "8787:8787"
    environment:
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8787
      - UPLOAD_PATH=/images
      - UPLOADED_PATH=/usr/edumanagemnentsystem/images
    volumes:
      - ./uploads:/usr/edumanagemnentsystem/images
    links:
      - edu-db