* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000000;
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.topnav-wrapper {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    height: 1.4em;
}

.topnav-left-side {
    margin-left: 14px;
    margin-top: 3px;
}

.topnav-right-side {
    margin-right: 14px;
    margin-top: 3px;
}

.nav-link-wrapper {
    height: 22px;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper a:hover {
    color: #01A7F0;
}

/*Main part styles*/
.main-wrapper {
    width: 100%;
    display: flex;
    padding: 0px;
    background-color: #AAAAAA;
    height: 100%;
    position: fixed;
}

.main {
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: #AAAAAA;
    font-size: 1.3em;
    overflow: hidden;
}

/*Sidebar styles*/
.sidebar {
    width: 21%;
    margin: 0;
    padding: 0px;
    background-color: #555555;
}

.sidebar a {
    display: block;
    color: #FFFFFF;
    padding: 13px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
}

.sidebar a:hover {
    background-color: #333333;
    color: #01A7F0;
}

.sidebar-right {
    margin-top: 3%;
    width: 16%;
    background-color: #555555;
    margin-left: 62%;
    cursor: pointer;
    text-align: left;
    position: fixed;
}

.sidebar-right a:hover {
    background-color: #333333;
    color: #01A7F0;
}

.show-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    width: 102px;
    text-align: center;
    background-color: #555555;
    position: absolute;
    top: 12%;
    left: 67%;
    border-radius: 6px;
    border-color: #aaaaaa;
    transform: translate(-50%, -50%);
    color: #01A7F0;
}

.show-btn:hover {
    border-color: #01A7F0;
}

.create-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    width: 188px;
    text-align: center;
    background-color: #555555;
    position: absolute;
    top: 35%;
    left: 50%;
    border-radius: 6px;
    border-color: #aaaaaa;
    transform: translate(-50%, -50%);
    color: #01A7F0;
    text-decoration: none;
}

.create-btn:hover {
    border-color: #01A7F0;
}

.item {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 19px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.list {
    width: 91%;
    padding: 0px;
    background-color: #555555;
    margin: 50px;
    height: 65vh;
    margin-top: 90px;
    margin-left: 35px;
    overflow: scroll;
}

.msg {
    font-size: 25px;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.successMsg {
    font-size: 25px;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
}

.middle {
    margin-left: 3%;
    background-color: #AAAAAA;
    font-size: 1.3em;
    overflow: hidden;
    display: flex;
}

.activeTab {
    background-color: #333333;
    color: #01A7F0 !important;
}

.allTab {
    background-color: #333333;
    color: #01A7F0 !important;
}

/*Main top containing only link style*/
.main-top {
    background-color: #AAAAAA;
    margin: 0;
    padding: 0px;
}

.link {
    margin: 0;
    padding: 16px;
    background-color: #AAAAAA;
    display: flex;
}

.link a {
    text-decoration: none;
    color: #007EB4;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
}

/*Main down containing dates,create timetable and lessons style*/
.main-down {
    margin-right: 30%;
    padding: 0px;
    background-color: #AAAAAA;
    display: flex;
    overflow: hidden;

}

.form-timetable {
    margin-left: 35px;
    padding: 0px;
    width: 133%;
}

.dates_and_create {
    background-color: #AAAAAA;
    margin: 0;
    padding: 0px;
    display: flex;
    margin-bottom: 55px;
}

.dates {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.date_half {
    margin: 0;
    padding: 0px;
    background-color: #AAAAAA;
    font-size: 0.8em;
    height: 1.2em;
    color: #555555;
    font-weight: 600;
    margin-right: -10px;

}

.start_date_title {
    font-size: 0.7em;
}

.end_date_title {
    font-size: 0.7em;
}

.input_left {
    margin: 0;
    padding: 0px;
    margin-right: 100px;
}

.create {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.create .button {
    color: #01A7F0;
    background-color: #555555;
    font-weight: 600;
    font-size: 23px;
    border-radius: 5px;
    width: 120px;
    margin-left: 246px;
    padding: 0px;
}

.timetable {
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: #D7D7D7;
    display: flex;
    border: solid 0.5px #007EB4;
}

.dayOfWeek {
    width: 50%;
    margin: 0;
    padding: 0px;
    background-color: #D7D7D7;
    border: solid 0.5px #007EB4;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.dayHeader {
    margin: 0;
    padding: 0px;
    background-color: #7F7F7F;
    border-bottom: solid 0.5px #007EB4;
    text-align: center;

}

.dayHeader a {
    text-align: center;
    color: #FFFFFF;
    background-color: #7F7F7F;
    font-size: 0.6em;
    font-weight: 600;
}

.add {
    background-color: #D7D7D7;
    margin-bottom: 11px;
}

.plus {
    border-radius: 50%;
    padding: 10px;
    margin: 0px 48px;
    border: solid 3px #007EB4;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    color: #007EB4;
}

/*Lessons section styles*/
.lessons {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 183px 0px;
    background-color: #D7D7D7;
    position: relative;
    width: 90%;
}

.single_lesson_wrapper {
    margin: 0;
    padding: 0px;
    background-color: #D7D7D7;
    position: absolute;
    top: 0px;
    flex-direction: column;
}

.single_item {
    margin: 0;
    padding: 0px;
    background-color: #AAAAAA;
    margin-top: 5px;
    margin-bottom: 4px;
    flex-direction: column;
    display: inline-flex;
    border-radius: 10px;
    border: solid 0.5px #007EB4;
    margin-left: 5px;
}

.single_item .btn {
    margin: 0;
    padding: 0px;
    background-color: #AAAAAA;
    margin-top: 3px;
}

.single_item .close-btn {
    font-size: 10px;
    cursor: pointer;
    margin-left: 80px;
    color: #007EB4;;
}

.btn a {
    text-decoration: none;
    font-size: 0.5em;
}

.close-btn:hover {
    color: red;
}

.title {
    text-align: center;
    color: #007EB4;
    font-weight: bold;
    font-size: 0.43em;
    margin-bottom: 20px;
    margin-top: -14px;
}


/*for url*/
.url-path {
    margin-right: 100%;
    display: inline-flex;
}

.a-url {
    margin-right: -34px;
    margin-top: 23px;
    margin-left: -5%;
    padding-left: 57px;
    text-decoration: none;
    color: #2b80a5;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

.a-url:hover {
    font-size: 110%;
}

.popup-container {
    display: none;
    opacity: 0.9;
    width: 26%;
    height: 34%;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.popup-wrapper{
    opacity: unset !important;
}
.popup-container {
    position: absolute;
    top: 45%;
    left: 50%;
    background-color: #F2F2F2;
    transform: translate(-50%, -50%);
}

.popup-container .close-btn {
    position: absolute;
    right: 20px;
    border-width: 0px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

h1 {
    text-align: left;
    color: #007EB4;
    margin-top: 0px;

}

form {
    margin: 0px;
    margin-left: 0px;
    margin-right: 4px;
}

.popup-wrapper {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 30px;
}

.successText {
    left: 7%;
    font-size: 22px;
    color: green;
    display: inline-flex;
    position: absolute;
    top: 30%;
}

.half {
    width: 50%;
    padding: 0px;
    margin-left: 0px;
    height: 253px;
}

.half2 {
    width: 50%;
    margin-left: 20%;
    height: 253px;

}

.halfSection {
    margin-top: 27%;
    display: inline-block;
}

.button-save {
    position: absolute;
    color: #000000;
    float: right;
    margin-top: 23%;
    margin-left: -10%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}


.popup-label-title {
    font-size: 0.7em;
    height: 1.2em;
    margin-top: 20px;
}

.error {
    font-size: 0.7em;
    color: red;
}

.form_input {
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
    width: 100%;
    border-radius: 1px;
    border-width: 1.5px;
}

/*Button part styles*/
.create-pop {
    display: block;
    transition: all 0.5s ease;
    height: 7%;
}


.button {
    background-color: #555555;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    padding: 7px;
}

.create-pop a {
    text-decoration: none;
    color: #FFFFFF;
}

.create-pop a:hover {
    background-color: #333333;
    color: #01A7F0;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin-right: 59px;
    background-color: #555555;
    color: #FFFFFF
}