<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="container">
    <div class="container">
        <div class="topnav-wrapper">
            <div class="topnav-left-side">
                <div class="nav-link-wrapper">
                    <a href="#"  th:text="#{home.menu.admin.page}">Admin</a>
                </div>
            </div>
            <div class="topnav-right-side">
                <div class="nav-link-wrapper">
                    <a th:text="${#authentication.principal.getUsername()}"></a>
                    <div th:include="/fragments/fragments:: lang"></div>

                </div>

            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="menu">
    <div>
        <p hidden th:text="${allUrl}" id="tab"></p>
        <a th:classappend="${firstUrl eq 'teachers' ? 'activeTab' : 'notActiveTab'}" href="/teachers" th:text="#{home.menu.teacher.page}">Teachers</a>
        <a th:classappend="${firstUrl eq 'students' ? 'activeTab' : 'notActiveTab'}" href="/students" th:text="#{home.menu.teacher.page}">Students</a>
        <a th:classappend="${firstUrl eq 'parents' ? 'activeTab' : 'notActiveTab'}" href="/parents" th:text="#{home.menu.parent.page}">Parents</a>
        <a th:classappend="${firstUrl eq 'classes' ? 'activeTab' : 'notActiveTab'}" href="/classes" th:text="#{home.menu.academicClass.page}">Academic classes</a>
        <a th:classappend="${firstUrl eq 'years' ? 'activeTab' : 'notActiveTab'}" href="/years" th:text="#{home.menu.academicYear.page}">Academic years</a>
        <a th:classappend="${firstUrl eq 'subjects' ? 'activeTab' : 'notActiveTab'}" href="/subjects" th:text="#{home.menu.subject.page}"> Subjects</a>
        <a th:classappend="${firstUrl eq 'courses' ? 'activeTab' : 'notActiveTab'}" href="/courses" th:text="#{home.menu.academicCourse.page}">Academic courses</a>
        <a th:classappend="${firstUrl eq 'vacations' ? 'activeTab' : 'notActiveTab'}" href="/vacations" th:text="#{home.menu.vacation.page}">Vacations</a>
        <a href="#settings" th:text="#{home.menu.settings.page}">Settings</a>
    </div>

</th:block>

<!-- sidebar 2 in academic class-->
<th:block th:fragment="sidebar2">
    <div>
        <a class="item" th:classappend="${lastUrl eq 'classroom' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/classroom'}}">Classroom Teacher</a>
        <a th:classappend="${lastUrl eq 'students' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/' + 'students'}}" class="item">Students</a>
        <a class="item" th:classappend="${lastUrl eq 'courses' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/courses'}}">Courses</a>
        <a class="item" th:classappend="${lastUrl eq 'teachers' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/teachers'}}">Teachers</a>
        <a th:classappend="${lastUrl eq 'timetable' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{'/classes/' + ${middleUrl} + '/timetable'}" class="item">Timetable</a>
        <a class="item" th:classappend="${lastUrl eq 'journal' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/journal'}}">Journal</a>
    </div>
</th:block>

<th:block th:fragment="teacherProfileSidebar">
    <div class="sidebar_right_links">
        <a class="sidebar_right_links_item" th:classappend="${lastUrl eq 'profile' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/profile'}}">Profile</a>
        <a th:classappend="${lastUrl eq 'subjects' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/' + 'subjects'}}" class="item">Subjects</a>
        <a class="sidebar_right_links_item"  th:classappend="${lastUrl eq 'courses' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/courses'}}">Academic Courses</a>
        <a class="sidebar_right_links_item" th:classappend="${lastUrl eq 'classes' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/classes'}}">Classes</a>
    </div>
</th:block>


<th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/passwordGenerator.js"></script>
    <script src="/static/js/popupControl.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</th:block>
<div th:fragment="lang">

    <div class="switch-lang">
        <div class="current-lang"  ><img class="lang-flag" id="img-en" src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Armenia.png"/>
            <a href="?lang=hy" class="lang-text" id="fff">Armenian</a>
        </div>
        <div class="lang-dropdown">
            <div class="selecting-lang"><img class="lang-flag" src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Armenia.png"/>
                <a href="?lang=hy" class="lang-text">Armenian</a>
            </div>
            <div class="selecting-lang"><img class="lang-flag" src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Russia.png"/>
                <a href="?lang=ru" class="lang-text">Russian</a>
            </div>
            <div class="selecting-lang"><img class="lang-flag"  src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_United_Kingdom.png"/>
                <a href="?lang=en" class="lang-text">English</a>
            </div>
        </div>
    </div>
    <script>
    const ln = window.location.search;
    const elem = document.getElementById("fff")
    const img = document.getElementById("img-en")
    switch(ln){
        case "?lang=en": elem.textContent = "English"; img.src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_United_Kingdom.png"; break;
        case "?lang=hy": elem.textContent = "Armenian"; img.src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Armenia.png";  break;
        case "?lang=ru": elem.textContent = "Russia"; img.src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Russia.png" ;  break;
        default : elem.textContent = "Armenia"; img.src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Armenia.png";  break;;
    }
</script>
</div>


</html>