<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="container">
    <div class="container">
        <div class="topnav-wrapper">
            <div class="topnav-left-side">
                <div class="nav-link-wrapper">
                    <p class="main-page-title">Admin</p>
                </div>
            </div>
            <div class="topnav-right-side">
                <div class="nav-link-wrapper">
                    <a th:text="${#authentication.principal.getUsername()}"></a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="menu">
    <div>
        <p hidden th:text="${allUrl}" id="tab"></p>
        <a th:classappend="${firstUrl eq 'teachers' ? 'activeTab' : 'notActiveTab'}" href="/teachers">Teachers</a>
        <a th:classappend="${firstUrl eq 'students' ? 'activeTab' : 'notActiveTab'}" href="/students">Students</a>
        <a th:classappend="${firstUrl eq 'parents' ? 'activeTab' : 'notActiveTab'}" href="/parents">Parents</a>
        <a th:classappend="${firstUrl eq 'classes' ? 'activeTab' : 'notActiveTab'}" href="/classes">Academic classes</a>
        <a th:classappend="${firstUrl eq 'years' ? 'activeTab' : 'notActiveTab'}" href="/years">Academic years</a>
        <a th:classappend="${firstUrl eq 'subjects' ? 'activeTab' : 'notActiveTab'}" href="/subjects">Subjects</a>
        <a th:classappend="${firstUrl eq 'courses' ? 'activeTab' : 'notActiveTab'}" href="/courses">Academic courses</a>
        <a th:classappend="${firstUrl eq 'vacations' ? 'activeTab' : 'notActiveTab'}" href="/vacations">Vacations</a>
        <a href="#settings">Settings</a>
    </div>

</th:block>

<!-- sidebar 2 in academic class-->
<th:block th:fragment="sidebar2">
    <div>
        <a class="item" th:classappend="${lastUrl eq 'classroom' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/classroom'}}">Classroom Teacher</a>
        <a th:classappend="${lastUrl eq 'students' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/' + 'students'}}" class="item">Students</a>
        <a class="item" th:classappend="${lastUrl eq 'courses' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/courses'}}">Courses</a>
        <a class="item" th:classappend="${lastUrl eq 'teachers' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/teachers'}}">Teachers</a>
        <a th:classappend="${lastUrl eq 'timetable' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{'/classes/' + ${middleUrl} + '/timetable'}" class="item">Timetable</a>
        <a class="item" th:classappend="${lastUrl eq 'journal' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/journal'}}">Journal</a>
    </div>
</th:block>

<th:block th:fragment="teacherProfileSidebar">
    <div class="sidebar_right_links">
        <a class="sidebar_right_links_item" th:classappend="${lastUrl eq 'profile' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/profile'}}">Profile</a>
        <a th:classappend="${lastUrl eq 'subjects' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/' + 'subjects'}}" class="item">Subjects</a>
        <a class="sidebar_right_links_item" th:classappend="${lastUrl eq 'courses' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/courses'}}">Academic Courses</a>
        <a class="sidebar_right_links_item" th:classappend="${lastUrl eq 'classes' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/classes'}}">Classes</a>
    </div>
</th:block>

<th:block th:fragment="parentProfileSidebar">
    <div class="sidebar_right_links">
        <a class="sidebar_right_links_item" th:classappend="${lastUrl eq 'profile' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${allUrl}}">Profile</a>
        <a class="sidebar_right_links_item" th:classappend="${lastUrl eq 'students' ? 'activeTab' : 'notActiveTab'}"
           th:href="@{${'/' + firstUrl + '/' + middleUrl + '/' + 'students'}}">Linked students</a>
    </div>
</th:block>


<th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/passwordGenerator.js"></script>
    <script src="/static/js/popupControl.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</th:block>

</html>