* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000000;
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.topnav-wrapper {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    height: 1.4em;
}

.content-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.content-wrapper .content {
    width: 75%;
    padding: 1px 25px;
    display: flex;
    flex-direction: column;
}

.topnav-left-side {
    margin-left: 14px;
    margin-top: 3px;
}

.topnav-right-side {
    margin-right: 14px;
    margin-top: 3px;
}

.nav-link-wrapper {
    height: 22px;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}

/*Main part styles*/
.main-wrapper {
    width: 100%;
    display: flex;
    padding: 0px;
    background-color: #AAAAAA;
    height: 100%;
    position: fixed;
}

/*Left sidebar styles*/
.sidebar {
    width: 21%;
    padding: 0px;
    background-color: #555555;
    margin-left: 0px;
    height: 100%;
}

.sidebar a {
    display: block;
    color: #FFFFFF;
    padding: 13px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
}

.sidebar a:hover {
    background-color: #333333;
    color: #01A7F0;
}

/*Main bar style*/
.main {
    width: 88%;
    padding: 0px;
    margin-right: 0px;
    background-color: #AAAAAA;
    height: 96vh;
    font-size: 1.3em;
}

/*Button part styles*/
.edit {
    display: block;
    transition: all 0.5s ease;
    height: 7%;
}

.button {
    background-color: #555555;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    padding: 7px;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin-right: 59px;
    background-color: #555555;
    color: #FFFFFF
}

.btn:hover {
    background-color: #333333;
    color: #01A7F0;
}

/*Profile part*/
.personalInformation p {
    font-weight: bold;
    color: #555555;
    font-size: 1.2em;
    padding: 6px;
    margin-left: 3%;
}

.lebel {
    display: block;
    color: #FFFFFF;
    padding: 13px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
}

input[type="checkbox"] {
    display: none;
}

#show:checked ~ .popup-container {
    display: block;
    width: 468px;
    height: 413px;
}

/*Popup container*/
.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #F2F2F2;
    transform: translate(-50%, -50%);
    display: none;
    width: 492px;
    height: 499px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup-container .close-btn {
    position: absolute;
    right: 20px;
    border-width: 0px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.p-item {
    margin-top: -13%;
    font-size: 17px;
    display: block;
    color: #555555;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.popup-container-image {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #F2F2F2;
    transform: translate(-50%, -50%);
    display: none;
    width: 412px;
    height: 281px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup-container-image .button-save {
    position: absolute;
    color: #A30014;
    float: right;
    margin-top: 31%;
    margin-left: 31%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.popup-container-image-format {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #F2F2F2;
    transform: translate(-50%, -50%);
    display: none;
    width: 412px;
    height: 281px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.image-delete-btn {
    color: #A30014;
    margin-left: -25%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.image-delete-btn-cancel {
    margin-left: 26%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.popup-container-image-format .button-save-format {
    position: absolute;
    color: #A30014;
    float: right;
    margin-top: 31%;
    margin-left: 32%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.successText {
    font-size: 112%;
    white-space: nowrap;
    margin-top: 20%;
}

.close-btn:hover {
    color: red;
}
h1 {
    text-align: left;
    color: #007EB4;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.halves {
    width: 100%;
    display: flex;
    height: 340px;
}

.unit {
    margin-bottom: 10px;
}

.half {
    width: 50%;
    padding: 0px;
    margin-left: 0px;
}

.half2 {
    width: 50%;
}

.halfSection {
    margin-top: 27%;
    display: inline-block;
}

.button-save {
    color: #A30014;
    float: right;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.popup-label-title {
    font-size: 0.8em;
    height: 1.2em;
    margin-top: 20px;
}

.error {
    font-size: 0.7em;
    color: red;
}

.form_input {
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
    width: 75%;
    border-radius: 1px;
    border-width: 1.5px;
}

.form_input:focus {
    outline: none !important;
    border: 1px solid #01A7F0;
}

.allTab {
    background-color: #333333;
    color: #01A7F0 !important;
}

/*Right sidebar styles*/
.sidebar_right {
    margin-right: 25px;
    margin-top: 50px;
    width: 15%;
}

.sidebar_right_photo {
    width: 100%;
    background-color: white;
    cursor: pointer;
    text-align: center;
    height: 124px;
}

.sidebar_right_links {
    margin-top: 50px;
    background-color: #555555;
    cursor: pointer;
    text-align: left;
    height: min-content;
}

.sidebar_right_link {
    margin-top: 10px;
    background-color: #555555;
    cursor: pointer;
    text-align: left;
    height: min-content;
}

.sidebar_right_links_item {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 19px;
    cursor: pointer;
}

.sidebar_right a:hover {
    background-color: #333333;
    color: #01A7F0;
}

.content > * {
    margin-top: 15px;
}

.show-btn:hover {
    border-color: #01A7F0;
}

.show-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    width: 104px;
    text-align: center;
    background-color: #555555;
    border-radius: 6px;
    border-color: #aaaaaa;
    align-self: flex-end;
    color: #01A7F0;
}

.div-pddng {
    padding: 18.5px;
    width: 104px;
}

.vis-btn {
    margin: -80px auto;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    width: 264px;
    text-align: center;
    background-color: #555555;
    border-radius: 6px;
    border-color: #aaaaaa;
    align-self: flex-end;
    color: #01A7F0;
}


/*for url*/
. {
    width: 100%;
    display: flex;
}

.a-url {
    text-decoration: none;
    color: #2b80a5;
    width: max-content;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

.a-url:not(:last-child)::after {
    content: ' / ';
    margin: 20px;
}

.a-url:hover {
    font-size: 110%;
}

.msg {
    font-size: 25px;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.successMsg {
    font-size: 25px;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
}

.middle {
    margin-left: 21%;
    width: 64%;
}

.activeTab {
    background-color: #333333;
    color: #01A7F0 !important;
}

.select2-results__option--selected {
    display: none;
}

.select2-container .select2-selection {
    height: 70px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.container-img {
    position: relative;
    width: 100%;
    height: 30%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 98%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container-img:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.title-img {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.btn-img {
    position: absolute;
    width: 88%;
    left: 6%;
    top: 41%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.delete-img {
    position: absolute;
    width: 14%;
    left: 80%;
    top: 4%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.btn-img span {
    width: 200px;
    padding: 4% 25%;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.btn-img span:hover {
    background-color: #333333;
    color: #01A7F0;
}

.delete-img a {
    width: 200px;
    padding: 4% 25%;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.container-img:hover .btn-img {
    opacity: 1;
}

.container-img:hover .delete-img {
    opacity: 1;
}

#file-input {
    display: none;
}

#form-pic-edit {
    display: none;
}

#submitButton {
    display: none;
}

#edit {
    text-decoration: none;
    color: #2b80a5;
    width: max-content;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: hover 110%;
}

.list-p-item{
    width: 96%;
    background-color: #555555;
    margin-top: 6%;
}

.item {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 19px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.list-p-item a:hover{
    color: #2b80a5;
}

.img-user{
    height: 12VW;
    width: 13VW;
}

.vis-btn-each {
    margin-left: 28VW;
    margin-top: 5VW;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: center;
    background-color: #777777;
    border-radius: 6px;
    border-color: #aaaaaa;
    align-self: flex-end;
    color: #ffffff;
    text-decoration: none;
}

.vis-btn-each:hover{
    color: #01A7F0;
    background-color: #333333;
}


.student-show-top{
    margin-top: 10VW;
    margin-left: 20VW;
    width: 392px;
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
}

.item-h1 {
    margin-top: 5px;
    color: #2b80a5;
}

.h1-name h1{
    margin-top: 5px;
    color:#2b80a5;
}

.tooltip {
    outline: none;
    position: relative;
    min-width: 75px;
    max-width: 435px;
}

.tooltip .tooltiptext {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-size: 14px;
    padding: 4px;
}

.tooltip:hover .tooltiptext {
    background: #dfdddd;
    border: 1px solid #555;
    color: #000000;
    border-radius: 7px;
    position: absolute;
    left: 0;
    word-break: break-word;
    top: calc(100% + 1px);
    z-index: 99;
    visibility: visible;
    opacity: 1;
}

.popup-wrapper {
    padding: 10px;
    margin-top: 30px;
}

.userNameSurname {
    text-align: left;
    color: #007EB4;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-items {
    width: 100%;
}

.list {
    width: 100%;
    background-color: #555555;
    height: 60vh;
    overflow-y: scroll;
    margin-top: 8%;
}

.list-items a {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.list-items a:hover {
    background-color: #333333;
    color: #01A7F0;
}

.list-items p {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
}

.p-item-list {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
}



