* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000000;
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.topnav-wrapper {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    height: 1.4em;
}

.content-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.content-wrapper .content {
    width: 75%;
    padding: 1px 25px;
    display: flex;
    flex-direction: column;
}

.topnav-left-side {
    margin-left: 14px;
    margin-top: 3px;
}

.topnav-right-side {
    margin-right: 14px;
    margin-top: 3px;
}

.nav-link-wrapper {
    height: 22px;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}

/*Main part styles*/
.main-wrapper {
    width: 100%;
    display: flex;
    padding: 0px;
    background-color: #AAAAAA;
    height: 100%;
    position: fixed;
}

/*Left sidebar styles*/
.sidebar {
    width: 21%;
    padding: 0px;
    background-color: #555555;
    margin-left: 0px;
    height: 100%;
}

.sidebar a {
    display: block;
    color: #FFFFFF;
    padding: 13px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
}

.sidebar a:hover {
    background-color: #333333;
    color: #01A7F0;
}

/*Main bar style*/
.main {
    width: 88%;
    padding: 0px;
    margin-right: 0px;
    background-color: #AAAAAA;
    height: 96vh;
    font-size: 1.3em;
}

/*Button part styles*/
.edit {
    display: block;
    transition: all 0.5s ease;
    height: 7%;
}

.button {
    background-color: #555555;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    padding: 7px;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin-right: 59px;
    background-color: #555555;
    color: #FFFFFF
}

.btn:hover {
    background-color: #333333;
    color: #01A7F0;
}

/*Profile part*/
.profile {
    width: 100%;
    padding: 0px;
    height: 65vh;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.profile-items {
    width: 100%;
    display: flex;
}

.profile-p-item {
    width: 100%;

}

.p-item {
    display: block;
    color: #555555;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
}

.profile-items a {
    color: #555555;
    padding: 10px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}

.profile-items a {
    background-color: #555555;
    font-weight: 600;
}
.profile_label_title{
    color: #555555;
    padding: 10px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}
.lebel {
    display: block;
    color: #FFFFFF;
    padding: 13px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
}

input[type="checkbox"] {
    display: none;
}

#show:checked ~ .popup-container {
    display: block;
    width: 468px;
    height: 413px;
}

/*Popup container*/
.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #F2F2F2;
    transform: translate(-50%, -50%);
    display: none;
    width: 492px;
    height: 499px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup-container .close-btn {
    position: absolute;
    right: 20px;
    border-width: 0px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

h1 {
    text-align: left;
    color: #007EB4;
    margin-top: 0px;

}

form {
    margin: 0px;
    margin-left: 0px;
    margin-right: 4px;
}

.popup-wrapper {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 30px;
}

.half {
    width: 50%;
    padding: 0px;
    margin-left: 0px;
    height: 253px;
}

.half2 {
    width: 50%;
    margin-left: 20%;
    height: 253px;

}

.halfSection {
    margin-top: 27%;
    display: inline-block;
}

.button-save {
    position: absolute;
    color: #A30014;
    float: right;
    margin-top: 70%;
    margin-left: -20%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.popup-label-title {
    font-size: 0.8em;
    height: 1.2em;
    margin-top: 20px;
}

.error {
    font-size: 0.7em;
    color: red;
}

.form_input_subjectName {
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
    width: 116%;
    border-radius: 4px;
    border-width: 1.5px;
    padding: 5px;
}

.form_input:focus {
    outline: none !important;
    border: 1px solid #01A7F0;
}

.popup-label-title-subject {
    font-size: 17px;
    height: 1.2em;
    margin-top: 20px;
}

.allTab {
    background-color: #333333;
    color: #01A7F0 !important;
}

/*Right sidebar styles*/
.sidebar_right {
    margin-right: 25px;
    margin-top: 100px;
    width: 15%;
}

.sidebar_right_photo {
    width: 100%;
    background-color: white;
    cursor: pointer;
    text-align: center;
    height: 124px;
}

.sidebar_right_links {
    margin-top: 50px;
    background-color: #555555;
    cursor: pointer;
    text-align: left;
    height: min-content;
}

.sidebar_right_links_item {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 19px;
    cursor: pointer;
}

.sidebar_right a:hover {
    background-color: #333333;
    color: #01A7F0;
}

.content > * {
    margin-top: 15px;
    margin-bottom: 47px;
}

.show-btn:hover {
    border-color: #01A7F0;
}

.show-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    width: 104px;
    text-align: center;
    background-color: #555555;
    border-radius: 6px;
    border-color: #aaaaaa;
    align-self: flex-end;
    color: #01A7F0;
    margin-bottom: 20px;
}

.div-pddng {
    padding: 18.5px;
    width: 104px;
}

.vis-btn {
    margin: -80px auto;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    width: 264px;
    text-align: center;
    background-color: #555555;
    border-radius: 6px;
    border-color: #aaaaaa;
    align-self: flex-end;
    color: #01A7F0;
}


/*for url*/
. {
    width: 100%;
    display: flex;
}

.a-url {
    text-decoration: none;
    color: #2b80a5;
    width: max-content;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

.a-url:not(:last-child)::after {
    content: ' / ';
    margin: 20px;
}

.a-url:hover {
    font-size: 110%;
}

.msg {
    font-size: 25px;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.successMsg {
    font-size: 25px;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
}

.middle {
    margin-left: 21%;
    width: 64%;
}

.activeTab {
    background-color: #333333;
    color: #01A7F0 !important;
}

.select2-results__option--selected {
    display: none;
}

.select2-container .select2-selection {
    height: 70px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.container-img {
    position: relative;
    width: 81%;
    height: 30%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container-img:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.title-img {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.btn-img {
    position: absolute;
    width: 88%;
    left:7%;
    top: 41%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.btn-img a {
    width: 200px;
    padding: 4% 25%;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.container-img:hover .btn-img {
    opacity: 1;
}

/*#file-input{*/
/*  display: none;*/
/*}*/