td {
    border: 1px solid black;
    border-collapse: collapse;
}

.emptyList {
    border: none;
    color: #555555;
    font-weight: bold;
    background: transparent !important;
    text-align: center;
    font-size: 19px;
}

.list {
    background: #AAAAAA !important;
}

::-webkit-scrollbar {
    display: none !important;
}

tr td:first-child {
    background: #7F7F7F;
}

tr td:not(:first-child) {
    background-color: #ffffff;
}

.agendaStyle {
    color: #555555;
    font-weight: bold;
}

.horizontalGrids, a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.horizontalGrids a:hover {
    color: #01A7F0;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: #01a7f0;
}