body {
    font-size: 16px;
    color: #000000;
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.main-page-title {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}

.sidebar a:hover {
    background-color: #333333;
    color: #01A7F0;
}

.tooltip {
    outline: none;
    position: relative;
    min-width: 90px;
    max-width: 535px;
    opacity: 1;
!important;
}

.tooltip .tooltiptext {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-size: 14px;
    padding: 4px;
}

.tooltip:hover .tooltiptext {
    background: #dfdddd;
    border: 1px solid #555;
    color: #000000;
    border-radius: 7px;
    position: absolute;
    left: 0;
    word-break: break-word;
    top: calc(100% + 1px);
    z-index: 99;
    visibility: visible;
    opacity: 1;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

.emptyList {
    border: none;
    color: #555555;
    font-weight: bold;
    background: transparent !important;
    text-align: center;
    font-size: 19px;
}

.date-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.absent {
    background-color: #D7D7D7 !important;
}

.exist {
    background-color: #7F7F7F !important;
}

.today_date a:first-child {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.today_date:hover {
    color: #2b80a5;
}

.arrow_today_date {
    color: black;
    cursor: pointer;
    font-size: 30px;
    margin-left: 5px;
    font-weight: 300;
    text-decoration: none;
}

#abc:after {
    content: "     V"
}

.input_form {
    margin-left: 20px;
}

.form_input {
    cursor: pointer;
}

.form_input:hover {
    color: #2b80a5;
}

.nav-link-wrapper a {
    color: white !important;
}

.container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
}

.list {
    background: #AAAAAA !important;
}

::-webkit-scrollbar {
    display: none !important;
}

tr td:first-child {
    background: #7F7F7F;
}

tr td:not(:first-child) {
    background-color: #ffffff;
}

.agendaStyle {
    color: #555555;
    font-weight: bold;
    cursor: pointer;
}

.horizontalGrids {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.horizontalGrids a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.horizontalGrids a:hover {
    color: #01A7F0;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: #01a7f0;
}

.popup-container {
    display: none;
    width: 620px;
    height: 540px;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #F2F2F2;
    transform: translate(-50%, -50%)
}

.popup-container .close-btn {
    position: absolute;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

.popup-wrap {
    width: 579px;
    height: 34vw;
    display: flex;
    padding: 10px;
}

.half_1 {
    width: 80%;
    margin-top: -4%;
    height: 360px;
}

.half_2 {
    width: 24%;
    margin-left: 28%;
    height: 360px;
}

.save {
    position: absolute;
    color: #A30014;
    float: right;
    margin-top: 62%;
    margin-left: -15%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.saveGrade {
    position: absolute;
    color: #A30014;
    float: right;
    margin-top: 2%;
    margin-left: -9%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.popup-label-title {
    font-size: 17px;
    height: 1.2em;
    margin-top: 25px;
    font-weight: bold;
}

label {
    display: flex;
}

.error {
    font-size: 0.7em;
    color: red;
}
.gradeError {
    font-size: 0.7em;
    width: 7vw;
    color: red;
}

.form_input {
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
    width: 87%;
    border-radius: 1px;
    border-width: 1.5px;
}

textarea {
    resize: none;
}

.create-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    width: 16%;
    text-align: center;
    background-color: #555555;
    position: absolute;
    top: 39%;
    left: 52%;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    color: #01A7F0;
    text-decoration: none;
}

.create-btn:hover {
    border-color: #01a7f0;
    color: white;
}

.message {
    font-size: 25px;
    position: absolute;
    top: 29%;
    left: 52%;
    color: white;
    width: 712px;
    transform: translate(-50%, -50%);
}

.form_input_grade {
    width: 3vw;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.gradeContainer {
    height: 7vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}