
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000000;
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.topnav-wrapper {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    height: 1.4em;
}

.topnav-left-side {
    margin-left: 14px;
    margin-top: 3px;
}

.topnav-right-side {
    margin-right: 14px;
    margin-top: 3px;
}

.nav-link-wrapper {
    height: 22px;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper a:hover {
    color: #01A7F0;
}


/*Main part styles*/
.main-wrapper {
    width: 100%;
    display: flex;
    padding: 0px;
    background-color: #AAAAAA;
    height: 96vh;
    position: fixed;
}

/*Sidebar styles*/
.sidebar {
    width: 17%;
    padding: 0px;
    background-color: #555555;
    margin-left: 0px;
    height: 96vh

}

.sidebar a {
    display: block;
    color: #FFFFFF;
    padding: 13px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;

}

.sidebar a:hover {
    background-color: #333333;
    color: #01A7F0;
}

/*Main bar style*/
.main {
    width: 88%;
    padding: 0px;
    margin-right: 0px;
    background-color: #AAAAAA;
    height: 96vh;
    font-size: 1.3em;
}

/*Button part styles*/
.create {
    display: block;
    transition: all 0.5s ease;
    height: 7%;
}


.button {
    background-color: #555555;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    padding: 7px;
}

.create a {
    text-decoration: none;
    color: #FFFFFF;
}

.create a:hover {
    background-color: #333333;
    color: #01A7F0;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin-right: 59px;
    background-color: #555555;
    color: #FFFFFF
}

.btn:hover {
    background-color: #333333;
    color: #01A7F0;
}

.list {
    width: 91%;
    padding: 0px;
    background-color: #555555;
    margin: 50px;
    height: 65vh;
    margin-top: 60px;
    margin-left: 35px;
    overflow: scroll;
}

#date {
    width: 80%;
!important;
    cursor: pointer;

}

.list-items p {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
}

.list-items p:hover {
    background-color: #333333;
    color: #01A7F0;
}


.lebel {
    display: block;
    color: #FFFFFF;
    padding: 13px;
    text-decoration: none;
    border-bottom: 0.2px solid #777777;
    font-size: 1.3em;
}

/*Pop up part style*/
.show-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    width: 102px;
    text-align: center;
    background-color: #555555;
    position: absolute;
    top: 11%;
    left: 91%;
    border-radius: 6px;
    border-color: #aaaaaa;
    transform: translate(-50%, -50%);
    color: #01A7F0;
}


.show-btn:hover {
    border-color: #01A7F0;
}

input[type="checkbox"] {
    display: none;
}

#show:checked ~ .popup-container {
    display: block;
    width: 468px;
    height: 413px;
}

.popup-container {
    display: none;
    width: 492px;
    height: 499px;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #F2F2F2;
    transform: translate(-50%, -50%)
}

.popup-container .close-btn {
    position: absolute;
    right: 20px;
    border-width: 0px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}


.close-btn:hover {
    color: red;
}

h1 {
    text-align: left;
    color: #007EB4;
    margin-top: 0px;

}


form {
    margin: 0px;
    margin-left: 0px;
    margin-right: 4px;
}

.popup-wrapper {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 30px;
}

.half {
    width: 50%;
    padding: 0px;
    margin-left: 0px;
    height: 253px;
}

.half2 {
    width: 50%;
    margin-left: 20%;
    height: 253px;

}

.halfSection {
    margin-top: 27%;
    margin-left: 27%;
    display: inline-block;
}

.button-save {
    position: absolute;
    color: #A30014;
    float: right;
    margin-top: 70%;
    margin-left: -20%;
    width: 83px;
    display: block;
    height: 30px;
    border-radius: 4px;
    border-width: 0.5px;
    cursor: pointer;
}

.button-generate {
    color: #309A21;
    margin-top: 8px;
    text-align: center;
    width: 172px;
    height: 24px;
    cursor: pointer;
    border-radius: 4px;
    border-width: 0.5px;
}


.popup-label-title {
    font-size: 0.8em;
    height: 1.2em;
    margin-top: 20px;
}

.error {
    font-size: 0.7em;
    color: red;
}

.form_input {
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
    width: 100%;
    border-radius: 1px;
    border-width: 1.5px;
}


.activeTab {
    background-color: #333333;
    color: #01A7F0 !important;
}

.form_input:focus {
    outline: none !important;
    border: 1px solid #01A7F0;
}