<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/static/js/filter-multi-select-bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/filter_multi_select.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="/static/css/styleForCoursesAndClassesSections.css" rel="stylesheet">
    <script src="/static/js/popupControl.js"></script>
    <title>Students</title>
</head>
<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
</div>
<div class="main-wrapper" id="main-wrapper">
    <div class="content-wrapper">
        <div class="sidebar" th:insert="fragments/fragments :: menu"></div>
        <div class="content" id="middle">
            <div class="url-path">
                <a class="a-url" th:href="${'/'+firstUrl}" th:text="${'Academic Classes'}"></a>

                <a class="a-url" th:classappend="${allUrl}" th:href="${'/' + firstUrl + '/' + middleUrl + '/courses'}"
                   th:text="${middleUrl}"></a>

                <a class="a-url" th:classappend="${allUrl}" th:href="${allUrl}" th:text="${'Students'}"></a>
            </div>
            <button class="show-btn" id="show-btn" onclick="PopUpShow()"><b>Add</b></button>
            <div class="list">
                <div class="list-items" th:each="studentInAcademicClass : ${studentsInAcademicClass}">
                    <p class="item"
                       th:text="${studentInAcademicClass.getName() + ' ' + studentInAcademicClass.getSurname()}">
                        Student </p>
                </div>
            </div>
        </div>
        <div class="sidebar2 header" id="sidebar2">
            <div th:insert="fragments/fragments :: sidebar2"></div>
        </div>
</div>
</div>
<div class="create">
    <div class="popup-container" id="popup-container">
        <button class="close-btn" title="close" id="hide" onclick="PopUpHide()">×</button>
        <h1>Add Students</h1>
        <form id="form" class="form" th:method="POST" th:action="@{${allTab}}" th:object="${existingAcademicClass}">
            <script th:inline="javascript" th:if="${blank} != null">
                PopUpShow();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <label class="popup-label-title" for="shapes">Students<span style="color:#A30014">*</span></label>
                    <div>
                        <select id="shapes" name="student"  th:field="*{students}" style="width: 250px" multiple>
                            <option th:each="select : ${students}"

                                    th:value="${select.id}"
                                    th:title="${select.getName() + ' ' + select.getSurname()}"
                                    th:text="${select.getName() + ' ' + select.getSurname()}"></option>
                        </select>
                        <div th:if="${blank}!= null" class="error">
                            <p th:text="${blank}"></p>
                        </div>
                    </div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        var shapes = $('#shapes').filterMultiSelect({
          selectAllText: 'all...',
          placeholderText: 'click to select a shape',
          filterText: 'search',

        });


      });
</script>
</body>
</html>