<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/static/js/popupControl.js"></script>
    <title>Academic Class Page</title>
</head>

<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
    <div class="main-wrapper">
        <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

        <div class="list">
            <div class="list-items" th:each="academicClass : ${academicClasses}">
                <p class="item" th:text="${academicClass.getClassNumber()}"> Academic Classes </p>
            </div>
        </div>
    </div>
</div>

<div class="create">
    <button class="show-btn" id="show-btn" onclick="PopUpShow()"><b>Create</b></button>

    <div class="popup-container" id="popup-container">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>New Academic Class</h1>

        <form id="form" class="form" th:method="POST" th:action="@{/classes}" th:object="${academicClass}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                PopUpShow();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <div id="error"></div>
                    <label class="popup-label-title" for="classNumber">Class Number<span
                            style="color:#A30014">*</span></label>
                    <input class="form_input" th:name="classNumber" id="classNumber"
                           th:value="${#object.classNumber}">
                    <div class="error" th:if="${#fields.hasErrors('classNumber')}"
                         th:errors="*{classNumber}"></div>
                    <div th:if="${duplicated}!= null" class="error">
                        <p th:text="${duplicated}"></p>
                    </div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>