<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/popupControl.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#startDate" ).datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+10",
                minDate: 0
            });
            $( "#endDate" ).datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+10",
                minDate: 0
            });
        } );
    </script>
    <style>
        .ui-datepicker .ui-datepicker-header {
            position: relative;
            padding: 7px 0;
            background: #01A7F0;
            border: 0;
            margin: -1px;
            border-radius: 0;
        }
        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
            border: 1px solid #01A7F0;
            background: #01A7F0;
            color: #111111;
        }
    </style>
    <title>Academic Years Page</title>
</head>

<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
    <div class="main-wrapper">
        <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

        <div class="list">
            <div class="list-items" th:each="academicYear : ${academicYears}">
                <p class="startAcademicYear" th:text="${academicYear.getStartDate().getYear() + '-'
                 + academicYear.getEndDate().getYear()}">Academic Year</p>
            </div>
        </div>
    </div>
</div>

<div class="create">
    <button class="show-btn" id="show-btn" onclick="PopUpShow()"><b>Create</b></button>
    <div class="popup-container" id="popup-container">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>

        <h1>New Academic Year</h1>
        <form id="form" class="form" th:method="POST" th:action="@{/years}" th:object="${academicYear}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} or ${min} !=null
                                                      or ${invalid}!=null or ${max}!=null">
                PopUpShow();
            </script>

            <div class="popup-wrapper">
                <div class="half">
                    <label class="popup-label-title">Start Date <span style="color:#A30014">* </span>
                        <span class="check-validation-date"></span>
                    </label>
                    <input class="form_input" placeholder="Date pick &#9638;" data-date-format="dd-mm-yyyy" readonly
                           th:type="text"
                           th:name="startDate"
                           th:value="*{startDate}"
                           th:field="*{startDate}"
                           th:id="startDate"
                    />
                    <div class="error" th:if="${#fields.hasErrors('startDate')}"
                         th:errors="*{startDate}">
                    </div>

                    <label class="popup-label-title">End Date <span style="color:#A30014">* </span>
                        <span class="check-validation-date"></span>
                    </label>
                    <input class="form_input" placeholder="Date pick &#9638;" data-date-format="dd-mm-yyyy" readonly
                           th:type="text"
                           th:name="endDate"
                           th:value="*{endDate}"
                           th:field="*{endDate}"
                           th:id="endDate"
                    />
                    <div class="error" th:if="${#fields.hasErrors('endDate')}"
                         th:errors="*{endDate}">
                    </div>
                    <div th:if="${invalid}!= null" class="error">
                        <p th:text="${invalid}"></p>
                    </div>
                    <div th:if="${min}!= null" class="error">
                        <p th:text="${min}"></p>
                    </div>
                    <div th:if="${max}!= null" class="error">
                        <p th:text="${max}"></p>
                    </div>
                </div>

                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>