<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/static/js/passwordGenerator.js"></script>
    <script src="/static/js/popupControl.js"></script>
    <title>Admin Page</title>
</head>
<body>
<div class="header" id="header">
    <div class="container">
        <div class="topnav-wrapper">
            <div class="topnav-left-side">
                <div class="nav-link-wrapper">
                    <a href="#">Super Admin</a>
                </div>
            </div>
            <div class="topnav-right-side">
                <div class="nav-link-wrapper">

                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="sidebar">
            <a th:classappend="${activeTab eq 'admins' ? 'activeTab' : 'notActiveTab'}" th:href="@{/admins}">Admins</a>
            <a href="#settings">Settings</a>
        </div>

        <div class="list">
            <div class="list-items" th:each="admin : ${admins}">
                <p th:text="${admin.getNameSurname()}"></p>
            </div>
        </div>
    </div>
</div>

<div class="create">
    <button class="show-btn" id="show-btn" onclick="PopUpShow()"><b>Create</b></button>
    <div class="popup-container" id="popup-container">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>New Admin</h1>

        <form id="form" class="form" th:method="POST" th:action="@{/admins}" th:object="${admin}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} or ${duplicated} or ${invalidEmail}
            or ${invalidPassword} or ${blank} or ${emailSize} or ${surnameSize} or ${nameSize}">
                PopUpShow();
            </script>

            <div class="popup-wrapper">
                <div class="half">
                    <div id="error"></div>
                    <label class="popup-label-title" for="name">Admin name <span style="color:#A30014">*</span></label>
                    <input class="form_input" type="text" th:name="username" id="name" th:value="${#object.username}">
                    <div class="error" th:if="${#fields.hasErrors('username')}"
                         th:errors="*{username}"></div>
                    <div th:if="${nameSize}!= null" class="error">
                        <p th:text="${nameSize}"></p>
                    </div>

                    <label class="popup-label-title" for="surname">Admin surname <span
                            style="color:#A30014">*</span></label>
                    <input class="form_input" type="text" th:name="surname" id="surname" th:value="${#object.surname}">
                    <div class="error" th:if="${#fields.hasErrors('surname')}"
                         th:errors="*{surname}"></div>
                    <div th:if="${surnameSize}!= null" class="error">
                        <p th:text="${surnameSize}"></p>
                    </div>

                    <label class="popup-label-title" for="email">Admin email<span style="color:#A30014">*</span></label>
                    <input class="form_input" type="text" th:name="email" id="email" th:value="${#object.email}"/>
                    <div class="error" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}"></div>
                    <div th:if="${duplicated}!= null" class="error">
                        <p th:text="${duplicated}"></p>
                    </div>
                    <div th:if="${invalidEmail}!= null" class="error">
                        <p th:text="${invalidEmail}"></p>
                    </div>
                    <div th:if="${emailSize}!= null" class="error">
                        <p th:text="${emailSize}"></p>
                    </div>
                </div>

                <div class="half2">
                    <label class="popup-label-title">Password<span style="color:#A30014">*</span></label>
                    <label>
                        <input class="form_input" type="text" placeholder="Create Password" id="password"
                               th:name="password"
                               readonly
                               th:value="${#object.password}"/>
                        <div th:if="${blank}!= null" class="error">
                            <p th:text="${blank}"></p>
                        </div>
                        <div th:if="${invalidPassword}!= null" class="error">
                            <p th:text="${invalidPassword}"></p>
                        </div>
                    </label>
                    <button class="button-generate" id="btn" type="button" onclick="getPassword()">
                        <b> Generate password</b>
                    </button>
                </div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>