<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/teacherProfile.css" rel="stylesheet">
    <script src="/static/js/popupControl.js"></script>
    <title th:text="${teacher.getFullName()} + ' - Classes'"></title>
</head>
<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
</div>
<div class="main-wrapper" id="main-wrapper">
    <div class="content-wrapper">
        <div class="sidebar" th:insert="fragments/fragments :: menu"></div>
        <div class="content" id="middle">
            <div class="url-path">
                <a class="a-url" th:href="${'/'+firstUrl}" th:text="${'Teachers'}"></a>
                <a class="a-url" th:classappend="${allUrl}" th:href="${allUrl}"
                   th:text="${teacher.getFullName()}"></a>
                <a class="a-url" th:classappend="${allUrl}" th:href="${allUrl}" th:text="${'Classes'}"></a>
            </div>
            <div class="list"  th:if="${!teachersClasses.isEmpty()}">
                <div class="list-items" th:each="class: ${teachersClasses}">
                    <p class="p-item-list" th:text="${class.getClassNumber()}"></p>
                </div>
            </div>
            <div th:if="${teachersClasses.isEmpty()}">
                <p class="student-show-top">This teacher isn't attached to a class yet</p>
                <a th:type="button" th:href="${'/classes'}" class="vis-btn-each" id="vis-btn-each"><strong>Add class</strong></a>
            </div>
        </div>
        <div class="sidebar-img header">
            <div th:if="${teacher.getPicUrl() == null}">
                <div class="image-upload">
                    <label width="150px" height="150px">
                        <img style="max-width: 100%;" src="/static/img/avatar.png" alt="This User haven't got a ProfPic">
                    </label>
                </div>
            </div>

            <div th:if="${teacher.getPicUrl() != null}">
                <div class="container-img">
                    <img style="height: 197px; width: 197px" th:src="@{/image(name=${teacher.picUrl})}" alt="This User haven't got a ProfPic">
                </div>
            </div>

            <div class="tooltip">
                <div class="name_surname_sectiion">
                    <h1 class="userNameSurname" th:text="${teacher.getName()}"></h1></div>
                <div class="name_surname_sectiion">
                    <h1 class="userNameSurname" th:text="${teacher.getSurname()}"></h1></div>
                <span class="tooltiptext" th:text="${teacher.getFullName()}">Tooltip text</span>
            </div>

            <div class="sidebar2 header" id="sidebar2">
                <div th:insert="fragments/fragments :: teacherProfileSidebar"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>