<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styleForCoursesAndClassesSections.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/static/js/popupControlTimetable.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/css/styleForJournal.css">
    <script src="/static/js/popupControl.js"></script>
    <title>Journal</title>
    <style>
        .date-form {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .absent {
            background-color: #D7D7D7 !important;
        }

        .exist {
            background-color: #7F7F7F !important;
        }

        .today_date a:first-child {
            color: black;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
        }

        .arrow_today_date {
            color: black;
            font-size: 30px;
            margin-left: 5px;
            font-weight: 300;
            text-decoration: none;
        }

        #abc:after {
            content: "     V"
        }

        .input_form {
            margin-left: 20px;
        }

        .form_input {
            cursor: pointer;
        }

        .nav-link-wrapper a {
            color: white !important;
        }

        .container {
            max-width: 100% !important;
            width: 100% !important;
            padding: 0 !important;
        }
    </style>
</head>
<body>

<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
</div>
<div class="main-wrapper" id="main-wrapper">
    <div class="content-wrapper">
        <div class="sidebar" th:insert="fragments/fragments :: menu"></div>
        <div class="content" id="middle">
            <div class="url-path">
                <a class="a-url" th:href="@{'/'+${firstUrl}}" th:text="${'Academic Classes'}"></a>
                <a class="a-url" th:href="@{'/'+${firstUrl}+'/'+${middleUrl}+'/journal'}" th:text="${middleUrl}"></a>
                <a class="a-url" th:href="@{'/'+${firstUrl}+'/'+${middleUrl}+'/journal'}" th:text="${'Journal'}"></a>
                <a class="a-url" th:href="@{${allUrl}}" th:text="${course.getName()}"></a>
            </div>
            <div class="list" style=" -ms-overflow-style: none !important;; scrollbar-width: none !important;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td class="emptyList"></td>
                        <td colspan="7" style="background-color: transparent; border:0px !important;  ">
                            <div class="date-form">
                                <div class="today_date" style="display: flex;align-items: center">
                                    <a th:href="@{${'/' + firstUrl + '/' + middleUrl + '/journal/'+ activeTab}(startDate=${startDate},sel='today')}">Today</a>
                                    <a th:href="@{${'/' + firstUrl + '/' + middleUrl + '/journal/'+ activeTab}(startDate=${startDate},sel='previous')}"
                                       class="arrow_today_date"> < </a>
                                    <a th:href="@{${'/' + firstUrl + '/' + middleUrl + '/journal/'+ activeTab}(startDate=${startDate},sel='next')}"
                                       class="arrow_today_date"> > </a>
                                    <input type="text" style="display: none; overflow: hidden" th:value="${middleUrl}"
                                           id="middleUrl"/>
                                    <input type="text" style="display: none; overflow: hidden" th:value="${activeTab}"
                                           id="activeTab"/>
                                </div>

                                <div class="input_form">
                                    <input class="form_input" placeholder="Date pick &#9638;"
                                           data-date-format="yyyy-mm-dd"
                                           readonly
                                           onchange="elog('change',this);return false;"
                                           style="background:transparent; border:none; outline: none;"
                                           th:type="text"
                                           th:name="dateInput"
                                           th:value="${month} + ' ' +${year}"
                                           th:id="dateInput"/></div>
                                <div class="error" th:if="${#fields.hasErrors('startDate')}"
                                     th:errors="*{startDate}"></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="emptyList"></td>
                        <td th:if="${monday.contains(course.getName) && Monday}"><span
                                th:text="${MONDAY}">123</span><br/><span>Monday</span></td>
                        <td th:if="${tuesday.contains(course.getName) && Tuesday}"><span th:text="${TUESDAY}">123</span><br/><span>Tuesday</span>
                        </td>
                        <td th:if="${wednesday.contains(course.getName) && Wednesday}"><span
                                th:text="${WEDNESDAY}">123</span><br/><span>Wednesday</span></td>
                        <td th:if="${thursday.contains(course.getName) && Thursday}"><span
                                th:text="${THURSDAY}">123</span><br/><span>Thursday</span></td>
                        <td th:if="${friday.contains(course.getName) && Friday}"><span
                                th:text="${FRIDAY}">123</span><br/><span>Friday</span></td>
                        <td th:if="${saturday.contains(course.getName) && Saturday}"><span
                                th:text="${SATURDAY}">123</span><br/><span>Saturday</span></td>
                        <td th:if="${sunday.contains(course.getName) && Sunday}"><span
                                th:text="${SUNDAY}">123</span><br/><span>Sunday</span></td>
                    </tr>
                    <tr class="">
                        <td class="emptyList" th:text="${course.getName()}"></td>
                        <td th:if="${monday.contains(course.getName) && Monday}" onclick="PopUpShow()" th:text="AGENDA"
                            class="agendaStyle"><span>AGENDA</span></td>
                        <td th:if="${tuesday.contains(course.getName) && Tuesday}" onclick="PopUpShow()"
                            th:text="AGENDA" class="agendaStyle"><span>AGENDA</span></td>
                        <td th:if="${wednesday.contains(course.getName) && Wednesday}" onclick="PopUpShow()"
                            th:text="AGENDA" class="agendaStyle"><span>AGENDA</span></td>
                        <td th:if="${thursday.contains(course.getName) && Thursday}" onclick="PopUpShow()"
                            th:text="AGENDA" class="agendaStyle"><span>AGENDA</span></td>
                        <td th:if="${friday.contains(course.getName) && Friday}" onclick="PopUpShow()" th:text="AGENDA"
                            class="agendaStyle"><span>AGENDA</span></td>
                        <td th:if="${saturday.contains(course.getName) && Saturday}" onclick="PopUpShow()"
                            th:text="AGENDA" class="agendaStyle"><span>AGENDA</span></td>
                        <td th:if="${sunday.contains(course.getName) && Sunday}" onclick="PopUpShow()" th:text="AGENDA"
                            class="agendaStyle"><span>AGENDA</span></td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="student : ${allStudentsInAcademicClass}">
                        <td class="horizontalGrids" th:text="${student.getNameAndSurname()}"></td>
                        <td class="absent" th:if="${monday.contains(course.getName) && Monday}"></td>
                        <td class="absent" th:if="${tuesday.contains(course.getName) && Tuesday}"></td>
                        <td class="absent" th:if="${wednesday.contains(course.getName) && Wednesday}"></td>
                        <td class="absent" th:if="${thursday.contains(course.getName) && Thursday}"></td>
                        <td class="absent" th:if="${friday.contains(course.getName) && Friday}"></td>
                        <td class="absent" th:if="${saturday.contains(course.getName) && Saturday}"></td>
                        <td class="absent" th:if="${sunday.contains(course.getName) && Sunday}"></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="sidebar2 header" id="sidebar2">
            <div th:insert="fragments/fragments :: sidebar2"></div>
        </div>
    </div>
</div>

<div class="create-pop">

    <div class="popup-container" id="popup-container">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1 style="font-size: 1.8rem; font-weight: bold">Course 1: Agenda 06/Sep/2022</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + 'name' + '/journal/agenda/add'}">

            <!--            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} and ${dayOfWeek eq 'Tuesday'}">-->
            <!--                PopUpShowTuesday();-->
            <!--            </script>-->
            <div class="popup-wrap">
                <div class="half_1">
                    <label class="popup-label-title">Classwork</label>
                    <textarea rows="3" cols="50" type="text" class="form_input" style="cursor:auto;" th:name="classwork"
                              th:id="classwork"></textarea>
                    <label class="popup-label-title">Test</label>
                    <textarea rows="3" cols="50" type="text" class="form_input" style="cursor:auto;" th:name="test"
                              th:id="test"></textarea>

                    <label class="popup-label-title">Homework</label>
                    <textarea rows="3" cols="50" type="text" class="form_input" style="cursor:auto;" th:name="homework"
                              th:id="homework"></textarea>
                    <input type="hidden" name="dayOfWeek" th:value="Tuesday"/>
                </div>
                <div class="half_2"></div>
                <div name="btn-div">
                    <button type="submit" class="save" onclick="tuesday_popUp()" id="submit_tuesday"><b>Save</b>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function elog(ev, object) {
        console.log(object.id + " - " + ev + ": " + object.value);
    }

    $("#abc").on('click', function () {
        $("#dateInput").datepicker("show");
    });
    // #middleUrl
    $(document).ready(function () {
        var id = $("#middleUrl").val()
        $('#dateInput').val($('#dateInput').val() + `  ⋁`);
    });
    $(function () {
        $("#dateInput").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-0:+10",
            dateFormat: 'yy-mm-dd',
            minDate: 0,
            maxDate: "+0D +0M +1Y",
            onSelect: function (dateInput) {
                $('#dateInput').val($('#dateInput').val() + `  ⋁`);
                var id = $("#middleUrl").val()
                var courseId = $("#activeTab").val()
                let formatedDate = dateInput.replaceAll('/', '-')
                window.location.href = `http://localhost:8082/classes/${id}/journal/${courseId}?date=${formatedDate}`
            }
        });
    });
</script>
</body>
</html>