<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/static/js/popupControl.js"></script>
    <title>Subject Page</title>
</head>

<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
    <div class="main-wrapper">
        <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

        <div class="list">
            <div class="list-items" th:each="subject : ${subjects}">
                <a th:href="@{'/subjects/'+${subject.getName()} + '/teachers'}" th:text="${subject.getName()}"></a>
            </div>
        </div>
    </div>
</div>

<div class="create">
    <button class="show-btn" id="show-btn" onclick="PopUpShow()"><b>Create</b></button>
    <div class="popup-container" id="popup-container">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>New Subject</h1>

        <form id="form" class="form" th:method="POST" th:action="@{/subjects}" th:object="${subject}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} or ${duplicated}">
                PopUpShow();
            </script>

            <div class="popup-wrapper">
                <div class="half">
                    <label class="popup-label-title-subject" for="name">Subject name <span
                            style="color:#A30014">*</span></label>
                    <input class="form_input_subjectName" type="text" th:name="name" id="name" th:value="${#object.name}"/>
                    <div class="error" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                    <div th:if="${duplicated}!= null" class="error">
                        <p th:text="${duplicated}"></p>
                    </div>


                    <div class="selectTeacher">
                        <label class="popup-label-title-subject" for="teacher">Teachers</label>
                        <select id="teacher" name="teacherSet" th:field="*{teacherSet}" style="width: 250px" multiple >
                            <option
                                    th:each="teacher:${teachers}"
                                    th:title="${teacher.getFullName()}"
                                    th:text="${teacher.getFullName()}"
                                    th:value="${teacher.id}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#teacher').select2({
           closeOnSelect: false,
            placeholder: "Select teachers",
            allowClear: true
        });
    });

</script>
<script>
    var texttooltip = document.getElementsByClassName("form_input_subjectName");
    var updatetitle = function () {
        this.setAttribute("title", this.value);
    };
    for (var i = 0; i < texttooltip.length; i++) {
        texttooltip[i].addEventListener('mouseover', updatetitle, false);
    }
</script>
<script>
    var maxLength = 23;
    $('#teacher > option').text(function (i, text) {
        if (text.length > maxLength) {
            return text.substr(0, maxLength) + '...';
        }
    });
</script>
</body>
</html>