<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/static/js/passwordGenerator.js"></script>
    <script src="/static/js/popupControl.js"></script>
    <title>Teacher Page</title>
</head>

<body>

<div class="create">
    <button class="show-btn" onclick="PopUpShow()">Create</button>

    <div class="popup-container" id="popup-container">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>New Teacher</h1>

        <form id="form" class="form" th:method="POST" th:action="@{/teachers}" th:object="${teacher}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} or ${duplicated} != null">
                $("#popup-container").show();
            </script>

            <div class="popup-wrapper">
                <div class="half">
                    <div id="error"></div>
                    <label class="popup-label-title" for="name">Name</label>
                    <input class="form_input" type="text" th:maxlength="50" th:name="name" id="name">
                    <div class="error" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>

                    <label class="popup-label-title" for="surname">Surname</label>
                    <input class="form_input" type="text" th:maxlength="50" th:name="surname" id="surname">
                    <div class="error" th:if="${#fields.hasErrors('surname')}"
                         th:errors="*{surname}"></div>

                    <label class="popup-label-title" for="email">Email</label>
                    <input class="form_input" type="email" th:maxlength="50" th:name="email" id="email">
                    <div class="error" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}"></div>
                    <div th:if="${duplicated}!= null" class="error">
                        <p th:text="${duplicated}"></p>
                    </div>
                </div>

                <div class="half">
                    <label class="popup-label-title">Password</label>
                    <input type="text" class="form_input" placeholder="Create Password" id="password"
                           th:name="password">
                    <div class="error" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                    <button class="button-generate" id="btn" type="button" onclick="getPassword()">
                        Generator Password
                    </button>
                    <button type="submit" class="button-save" id="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container" style="pointer-events: none">
    <div class="topnav-wrapper">
        <div class="topnav-left-side">
            <div class="nav-link-wrapper">
                <a href="#homePageSuperAdmin.html">Admin</a>
            </div>
        </div>
        <div class="topnav-right-side">
            <div class="nav-link-wrapper">
                <a>Name Surname</a>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div class="sidebar">
        <a th:href="@{/teachers}">Teachers</a>
        <a href="#students">Students</a>
        <a href="#parents">Parents</a>
        <a href="#academicClasses">Academic classes</a>
        <a href="#academicYears">Academic years</a>
        <a href="#subjects">Subjects</a>
        <a href="#vacations">Vacations</a>
        <a href="#settings">Settings</a>
    </div>

    <div class="list">
        <div class="list-items" th:each="teacher : ${teachers}">
            <p class="item" th:text="${teacher.getNameSurname()}"> Teacher </p>
        </div>
    </div>
</div>

</body>
</html>