<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/static/js/passwordGenerator.js"></script>
    <script src="/static/js/popupControl.js"></script>
    <title>Teacher Page</title>
</head>

<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
    <div class="main-wrapper">
        <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

        <div class="list">
            <div class="list-items" th:each="teacher : ${teachers}">
                <p class="item" th:text="${teacher.getNameSurname()}"> Teacher </p>
                <img style="height: 100px" th:src="@{/image(name=${teacher.imageUrl})}">
            </div>
        </div>
    </div>
</div>

<div class="create">
    <button class="show-btn" id="show-btn" onclick="PopUpShow()"><b>Create</b></button>

    <div class="popup-container" id="popup-container">
        <button class="close-btn" title="close" id="hide" onclick="PopUpHide()">×</button>
        <h1>New Teacher</h1>

        <form id="form" class="form" th:method="POST" th:action="@{/teachers}" th:object="${teacher}" enctype="multipart/form-data">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} or ${duplicated} != null or ${invalid}">
                PopUpShow();
            </script>

            <div class="popup-wrapper">
                <div class="half">
                    <div id="error"></div>
                    <label class="popup-label-title" for="name">Teacher name <span
                            style="color:#A30014">*</span></label>
                    <input class="form_input" type="text" th:name="name" id="name" th:value="${#object.name}"/>
                    <div class="error" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>

                    <label class="popup-label-title" for="surname">Teacher surname <span style="color:#A30014">*</span></label>
                    <input class="form_input" type="text" th:name="surname" id="surname" th:value="${#object.surname}"/>
                    <div class="error" th:if="${#fields.hasErrors('surname')}"
                         th:errors="*{surname}"></div>

                    <label class="popup-label-title" for="email">Teacher email <span
                            style="color:#A30014">*</span></label>
                    <input class="form_input" type="text" th:name="email" id="email"
                           th:value="${#object.email}"/>
                    <div class="error" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}"></div>
                    <div th:if="${duplicated}!= null" class="error">
                        <p th:text="${duplicated}"></p>
                    </div>
                    <div th:if="${invalid}!= null" class="error">
                        <p th:text="${invalid}"></p>
                    </div>
                </div>

                <div class="half2">
                    <label class="popup-label-title">Password <span style="color:#A30014">*</span></label>
                    <input type="text" class="form_input" placeholder="Create Password" id="password"
                           th:name="password"
                           readonly
                           th:value="${#object.password}"/>
                    <div class="error" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                    <button class="button-generate" id="btn" type="button" onclick="getPassword()">
                        <b>Generate password</b>
                    </button>
                    <input type="file" name="image">
                </div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>


        </form>
    </div>
</div>
</body>
</html>