<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/timetable/timetable4.css" rel="stylesheet">
    <link href="/static/css/dateStyle.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/static/js/popupControlTimetable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <title th:text="'The timetable of '+ ${middleUrl}">Timetable</title>

</head>
<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
</div>

<div class="main-wrapper" id="main-wrapper">
    <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

    <div class="main">
        <div class="url-path">
            <a class="a-url" th:href="${'/'+firstUrl}" th:text="${'Academic classes'}"></a>
            <p class="a-url">/</p>
            <a class="a-url" th:href="${'/' + firstUrl + '/' + middleUrl + '/courses'}" th:text="${middleUrl}"></a>
            <p class="a-url">/</p>
            <a class="a-url" th:href="@{'/classes/' + ${middleUrl} + '/timetable'}" th:text="${'Timetable'}"></a>
        </div>
        <div class="middle">
            <div th:if="${timetable == null}">
                <p class="msg">There is no active Timetable.</p>

                <a class="create-btn" th:href="@{'/classes/' + ${middleUrl} + '/timetable' + '/creation'}"
                   id="create-btn"><b>Create Timetable</b></a>
            </div>
            <div class="timetable" th:if="${timetable != null}">
                <form th:method="POST" action="#" th:object="${timetable}">
                    <div class="dates_and_create">
                        <div class="dates">
                            <div class="start_date">
                                <label class="popup-label-title">Start Date<span
                                        class="check-validation-date"></span></label>
                                <div class="input_form">
                                    <input class="form_input" placeholder="Date pick &#9638;"
                                           data-date-format="dd-mm-yyyy"
                                           readonly
                                           th:type="text"
                                           th:name="startDate"
                                           th:value="*{startDate}"
                                           th:field="*{startDate}"
                                           th:id="startDate"/></div>
                                <div class="error" th:if="${#fields.hasErrors('startDate')}"
                                     th:errors="*{startDate}"></div>
                            </div>
                            <div class="end_date">
                                <label class="popup-label-title">End Date<span
                                        class="check-validation-date"></span></label>
                                <div class="input_form">
                                    <input class="form_input" placeholder="Date pick &#9638;"
                                           data-date-format="dd-mm-yyyy"
                                           readonly
                                           th:type="text"
                                           th:name="endDate"
                                           th:value="*{endDate}"
                                           th:field="*{endDate}"
                                           th:id="endDate"/>
                                </div>
                                <div class="error" th:if="${#fields.hasErrors('endDate')}"
                                     th:errors="*{endDate}"></div>
                            </div>
                        </div>

                        <div class="create">
                            <a th:href="@{'/classes/' + ${timetable.academicClass.classNumber}+ '/timetable/edit' }" class="button" type="button">Edit</a>
                        </div>


                    </div>
                </form>

                <div class="week">
                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Monday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfMonday}">
                                    <div class="btn">
                                        <label class="close-btn" title="close"></label></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Tuesday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfTuesday}">
                                    <div class="btn">
                                        <label class="close-btn" title="close"></label></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Wednesday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfWednesday}">
                                    <div class="btn">
                                        <label class="close-btn" title="close"></label></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Thursday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfThursday}">
                                    <div class="btn">
                                        <label class="close-btn" title="close"></label></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Friday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfFriday}">
                                    <div class="btn">
                                        <label class="close-btn" title="close"></label></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Saturday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfSaturday}">
                                    <div class="btn">
                                        <label class="close-btn" title="close"></label></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Sunday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfSunday}">
                                    <div class="btn">
                                        <label class="close-btn" title="close"></label></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>


    <div class="sidebar-right" th:insert="fragments/fragments :: sidebar2"></div>
</div>

<a id="timetableUrl" th:text="'/classes/' + ${middleUrl} + '/timetable'" type="hidden"></a>
<div class="popup-container" id="popup-container"
     th:if="${creationStatus.booleanValue() == true} and ${timetable != null}">
    <div class="popup-wrapper" id="popup-wrapper">
        <div class="half">
            <p class="successMsg">Timetable created successfully</p>
        </div>
        <div name="btn-div">
            <button type="button" class="button-save" id="submit" onclick="SuccessPopupHide()">
                <b>OK</b></button>
        </div>
    </div>
</div>
</body>
</html>
