<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:scropt="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/timetable/timetable4-1.css" rel="stylesheet">
    <link href="/static/css/dateStyle.css" rel="stylesheet">

    <script src="/static/js/popupControlTimetable.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>

    <script>
        $(function () {
            $("#startDate").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+10",
                minDate: 0,
                maxDate: "+0D +0M +1Y",
                onSelect: function () {
                    var date = $("#startDate").datepicker('getDate');
                    localStorage.setItem("startDate", $.datepicker.formatDate('dd-mm-yy', date));
                }
            });
            $("#endDate").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+10",
                minDate: 0,
                maxDate: "+0D +0M +1Y",
                onSelect: function () {
                    var date = $("#endDate").datepicker('getDate');
                    localStorage.setItem("endDate", $.datepicker.formatDate('dd-mm-yy', date));
                }
            });
        });
    </script>

    <script>

        const obj = {
            refreshValue: "toReload",
            get getValue() {
                return this.refreshValue;
            },
            set setValue(name) {
                this.refreshValue = name;
            },
        };

        function monday_popUp() {
            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function tuesday_popUp() {
            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function wednesday_popUp() {
            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function thursday_popUp() {
            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function friday_popUp() {
            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function saturday_popUp() {
            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function sunday_popUp() {
            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function createButtonClick() {
            obj.refreshValue = "notToReload";
            console.log("Changed to notToReload");

            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function openDeletePopUp() {
            obj.refreshValue = "toReload";
            console.log("Changed to toReload");
            $("#main-wrapper").css("-webkit-filter", "blur(10px)");
            $("#header").css("-webkit-filter", "blur(10px)");
            $("#header").css("pointer-events", "none");
            $("#main-wrapper").css("pointer-events", "none");
            $("#show-btn").css("pointer-events", "none");
            $("#show-btn").css("-webkit-filter", "blur(10px)");
        }

        function hideDeletePoUp() {
            obj.refreshValue = "notToReload";
            console.log("Changed to notToReload");
            $("#popup-container").hide();
            $("#main-wrapper").css("-webkit-filter", "blur(0px)");
            $("#header").css("-webkit-filter", "blur(0px)");
            $("#main-wrapper").css("pointer-events", "auto");
            $("#header").css("pointer-events", "auto");
            $("#show-btn").css("pointer-events", "auto");
            $("#show-btn").css("-webkit-filter", "blur(0px)");

            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        function deleteSend() {
            obj.refreshValue = "notToReload";
            console.log("Changed to notToReload");

            if (obj.refreshValue === "notToReload") {
                window.onbeforeunload = null;
            } else if (obj.refreshValue === "toReload") {
                window.onbeforeunload = function () {
                    return "Are you sure?"
                }
            }
        }

        if (obj.refreshValue === "notToReload") {
            console.log("Checking in notToReload")
        } else if (obj.refreshValue === "toReload") {
            console.log("Checking in toReload")
            window.onbeforeunload = function () {
                return "Are you sure?"
            }
        }
    </script>


    <title>Timetable</title>
</head>

<body>
<div class="header" id="header" th:insert="fragments/fragments :: container">

</div>

<div class="main-wrapper" id="main-wrapper">
    <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

    <div class="middle">
        <div class="url-path">
            <a class="a-url" th:href="${'/'+firstUrl}" th:text="${'Academic classes'}"></a>
            <p class="a-url">/</p>
            <a class="a-url" th:href="${'/' + firstUrl + '/' + middleUrl + '/courses'}" th:text="${middleUrl}"></a>
            <p class="a-url">/</p>
            <a class="a-url" th:href="@{'/classes/' + ${middleUrl} + '/timetable'}" th:text="${'Timetable'}"></a>
            <p class="a-url">/</p>
            <a class="a-url" th:href="${allUrl}" th:text="${'Creation'}"></a>
        </div>
        <div class="timetable">

            <form th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/creation'}"
                  th:object="${timetable}">
                <div class="dates_and_create">
                    <div class="dates">
                        <div class="start_date">
                            <label class="popup-label-title">Start Date<span
                                    class="check-validation-date"></span></label>
                            <div class="date_input_form">
                                <input class="form_input" placeholder="Date pick &#9638;"
                                       data-date-format="dd-mm-yyyy"
                                       readonly
                                       th:type="text"
                                       th:name="startDate"
                                       th:value="*{startDate}"
                                       th:field="*{startDate}"
                                       th:id="startDate"/></div>
                            <div class="error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                        </div>
                        <div class="end_date">
                            <label class="popup-label-title">End Date<span class="check-validation-date"></span></label>
                            <div class="input_form">
                                <input class="form_input" placeholder="Date pick &#9638;"
                                       data-date-format="dd-mm-yyyy"
                                       readonly
                                       th:type="text"
                                       th:name="endDate"
                                       th:value="*{endDate}"
                                       th:field="*{endDate}"
                                       th:id="endDate"/>
                            </div>
                            <div class="error" th:if="${#fields.hasErrors('endDate')}"
                                 th:errors="*{endDate}"></div>
                        </div>
                    </div>
                    <div class="error_messages">
                        <div th:if="${invalid}!= null" class="date_error">
                            <p th:text="${invalid}"></p>
                        </div>
                        <div th:if="${noLessonInTimetable}!= null" class="date_error">
                            <p th:text="${noLessonInTimetable}"></p>
                        </div>
                    </div>
                    <div class="create">
                        <input id="class" type="hidden" name="academicClass" th:value="${academicClass.getId()}"/>
                        <button style="left:84%" value="notToReload" onclick="createButtonClick()" type="submit"
                                class="button" id="create"><b>Create</b></button>
                    </div>


                </div>
            </form>
            <div class="week">
                <div class="dayOfWeek">
                    <div class="dayHeader" id="monday" th:value="monday"><a>Monday</a></div>
                    <div class="lessons">
                        <div class="single_lesson_wrapper">
                            <div class="single_item" th:each="lesson : ${lessonsOfMonday}">
                                <a onclick="deleteSend()"
                                   th:href="@{'/classes/' + ${academicClass.classNumber} + '/timetable/create/' + ${lesson.id}}">
                                    <div class="btn">
                                        <label class="close-btn" title="close">×</label>
                                    </div>
                                </a>
                                <div class="tooltip">
                                    <p class="title" th:text="${lesson.academicCourse}">Name</p>
                                    <span class="tooltiptext" th:text="${lesson.academicCourse}">Tooltip text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <img onclick="PopUpShowMonday()" class="plus" src="/static/img/Icon8.png">
                    </div>
                </div>

                <div class="dayOfWeek">
                    <div class="dayHeader" id="tuesday"><a>Tuesday</a></div>
                    <div class="lessons">
                        <div class="single_lesson_wrapper">
                            <div class="single_item" th:each="lesson : ${lessonsOfTuesday}">
                                <a onclick="deleteSend()"
                                   th:href="@{'/classes/' + ${academicClass.classNumber} + '/timetable/create/' + ${lesson.id}}">
                                    <div class="btn">
                                        <label class="close-btn" title="close">×</label>
                                    </div>
                                </a>
                                <div class="tooltip">
                                    <p class="title" th:text="${lesson.academicCourse}">Name</p>
                                    <span class="tooltiptext" th:text="${lesson.academicCourse}">Tooltip text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <img onclick="PopUpShowTuesday()" class="plus" src="/static/img/Icon8.png">
                    </div>
                </div>

                <div class="dayOfWeek">
                    <div class="dayHeader" id="wednesday"><a>Wednesday</a></div>
                    <div class="lessons">

                        <div class="single_lesson_wrapper">
                            <div class="single_item" th:each="lesson : ${lessonsOfWednesday}">
                                <a onclick="deleteSend()"
                                   th:href="@{'/classes/' + ${academicClass.classNumber} + '/timetable/create/' + ${lesson.id}}">
                                    <div class="btn">
                                        <label class="close-btn" title="close">×</label>
                                    </div>
                                </a>
                                <div class="tooltip">
                                    <p class="title" th:text="${lesson.academicCourse}">Name</p>
                                    <span class="tooltiptext" th:text="${lesson.academicCourse}">Tooltip text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <img onclick="PopUpShowWednesday()" class="plus" src="/static/img/Icon8.png">
                    </div>
                </div>

                <div class="dayOfWeek">
                    <div class="dayHeader" id="thursday"><a>Thursday</a></div>
                    <div class="lessons">

                        <div class="single_lesson_wrapper">
                            <div class="single_item" th:each="lesson : ${lessonsOfThursday}">
                                <a onclick="deleteSend()"
                                   th:href="@{'/classes/' + ${academicClass.classNumber} + '/timetable/create/' + ${lesson.id}}">
                                    <div class="btn">
                                        <label class="close-btn" title="close">×</label>
                                    </div>
                                </a>
                                <div class="tooltip">
                                    <p class="title" th:text="${lesson.academicCourse}">Name</p>
                                    <span class="tooltiptext" th:text="${lesson.academicCourse}">Tooltip text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <img onclick="PopUpShowThursday()" class="plus" src="/static/img/Icon8.png">
                    </div>
                </div>

                <div class="dayOfWeek">
                    <div class="dayHeader" id="friday"><a>Friday</a></div>
                    <div class="lessons">

                        <div class="single_lesson_wrapper">
                            <div class="single_item" th:each="lesson : ${lessonsOfFriday}">
                                <a onclick="deleteSend()"
                                   th:href="@{'/classes/' + ${academicClass.classNumber} + '/timetable/create/' + ${lesson.id}}">
                                    <div class="btn">
                                        <label class="close-btn" title="close">×</label>
                                    </div>
                                </a>
                                <div class="tooltip">
                                    <p class="title" th:text="${lesson.academicCourse}">Name</p>
                                    <span class="tooltiptext" th:text="${lesson.academicCourse}">Tooltip text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <img onclick="PopUpShowFriday()" class="plus" src="/static/img/Icon8.png">
                    </div>
                </div>

                <div class="dayOfWeek">
                    <div class="dayHeader" id="saturday"><a>Saturday</a></div>
                    <div class="lessons">

                        <div class="single_lesson_wrapper">
                            <div class="single_item" th:each="lesson : ${lessonsOfSaturday}">
                                <a onclick="deleteSend()"
                                   th:href="@{'/classes/' + ${academicClass.classNumber} + '/timetable/create/' + ${lesson.id}}">
                                    <div class="btn">
                                        <label class="close-btn" title="close">×</label>
                                    </div>
                                </a>
                                <div class="tooltip">
                                    <p class="title" th:text="${lesson.academicCourse}">Name</p>
                                    <span class="tooltiptext" th:text="${lesson.academicCourse}">Tooltip text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <img onclick="PopUpShowSaturday()" class="plus" src="/static/img/Icon8.png">
                    </div>
                </div>

                <div class="dayOfWeek">
                    <div class="dayHeader" id="sunday"><a>Sunday</a></div>
                    <div class="lessons">

                        <div class="single_lesson_wrapper">
                            <div class="single_item" th:each="lesson : ${lessonsOfSunday}">
                                <a onclick="deleteSend()"
                                   th:href="@{'/classes/' + ${academicClass.classNumber} + '/timetable/create/' + ${lesson.id}}">
                                    <div class="btn">
                                        <label class="close-btn" title="close">×</label>
                                    </div>
                                </a>
                                <div class="tooltip">
                                    <p class="title" th:text="${lesson.academicCourse}">Name</p>
                                    <span class="tooltiptext" th:text="${lesson.academicCourse}">Tooltip text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <img onclick="PopUpShowSunday()" class="plus" src="/static/img/Icon8.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript" th:if="${lessonId != null}">
    openDeletePopUp();
</script>

<div class="deletePopup-container" id="popup-container" th:if="${lessonId != null}">
    <div class="popup-wrapper" id="popup-wrapper">
        <div class="half">
            <p class="confirmMsg">Are you sure you want to delete this course?</p>
        </div>
        <div name="btn-div">
            <form th:action="@{'/classes/' + ${academicClass.classNumber} + '/timetable/creation'}">
                <button type="submit" onclick="hideDeletePoUp()" class="delete-popup-cancel-button-save">
                    <b>Cancel</b>
                </button>
                <input type="hidden" name="cancelStatus" th:value="CANCEL">
            </form>
        </div>

        <div name="btn-div">
            <form th:action="@{'/' + 'classes/course/delete/' + ${lessonId} + '/' + ${academicClass.classNumber}}">
                <button type="submit" onclick="deleteSend()" class="delete-popup-delete-button-save">
                    <b>Delete</b>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="create-pop">

    <div class="popup-container" id="popup-container-monday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} and ${dayOfWeek eq 'Monday'}">
                PopUpShowMonday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input type="hidden" name="dayOfWeek" th:value="Monday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select id="select" class="form_input" th:name="academicCourse" th:id="academicCourse">
                        <option th:text="'Select Course'" th:value="null"></option>
                        <option th:each="item : ${courses}" th:value="${item.id}"
                                th:title="${item.getName()}" th:text="${item.getName()}"></option>
                    </select>

                    <div id="error" class="error"
                         th:if="${#fields.hasErrors('academicCourse')} and ${dayOfWeek eq 'Monday'}"
                         th:errors="*{academicCourse}"></div>
                </div>

                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" onclick="monday_popUp()" id="submit_monday"><b>Save</b>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-tuesday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} and ${dayOfWeek eq 'Tuesday'}">
                PopUpShowTuesday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input type="hidden" name="dayOfWeek" th:value="Tuesday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse">
                        <option th:text="'Select Course'" th:value="null"></option>
                        <option th:each="item : ${courses}" th:value="${item.id}"
                                th:title="${item.getName()}" th:text="${item.getName()}"></option>
                    </select>
                    <div id="error" class="error"
                         th:if="${#fields.hasErrors('academicCourse')} and ${dayOfWeek eq 'Tuesday'}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" onclick="tuesday_popUp()" id="submit_tuesday"><b>Save</b>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-wednesday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} and ${dayOfWeek eq 'Wednesday'}">
                PopUpShowWednesday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input type="hidden" name="dayOfWeek" th:value="Wednesday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select style="width: 150px" class="form_input" th:name="academicCourse" th:id="academicCourse">
                        <option th:text="'Select Course'" th:value="null"></option>
                        <option th:each="item : ${courses}" th:value="${item.id}"
                                th:title="${item.getName()}" th:text="${item.getName()}"></option>
                    </select>
                    <div id="error" class="error"
                         th:if="${#fields.hasErrors('academicCourse')} and ${dayOfWeek eq 'Wednesday'}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" onclick="wednesday_popUp()" id="submit_wednesday">
                        <b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-thursday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} and ${dayOfWeek eq 'Thursday'}">
                PopUpShowThursday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input type="hidden" name="dayOfWeek" th:value="Thursday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse">
                        <option th:text="'Select Course'" th:value="null"></option>
                        <option th:each="item : ${courses}" th:value="${item.id}"
                                th:title="${item.getName()}" th:text="${item.getName()}"></option>
                    </select>
                    <div id="error" class="error"
                         th:if="${#fields.hasErrors('academicCourse')} and ${dayOfWeek eq 'Thursday'}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" onclick="thursday_popUp()" id="submit_thursday">
                        <b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-friday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} and ${dayOfWeek eq 'Friday'}">
                PopUpShowFriday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input type="hidden" name="dayOfWeek" th:value="Friday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse">
                        <option th:text="'Select Course'" th:value="null"></option>
                        <option th:each="item : ${courses}" th:value="${item.id}"
                                th:title="${item.getName()}" th:text="${item.getName()}"></option>
                    </select>
                    <div id="error" class="error"
                         th:if="${#fields.hasErrors('academicCourse')} and ${dayOfWeek eq 'Friday'}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" onclick="friday_popUp()" id="submit_friday"><b>Save</b>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-saturday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} and ${dayOfWeek eq 'Saturday'}">
                PopUpShowSaturday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input type="hidden" name="dayOfWeek" th:value="Saturday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse">
                        <option th:text="'Select Course'" th:value="null">Select Course</option>
                        <option th:each="item : ${courses}" th:value="${item.id}"
                                th:title="${item.getName()}" th:text="${item.getName()}"></option>
                    </select>
                    <div id="error" class="error"
                         th:if="${#fields.hasErrors('academicCourse')} and ${dayOfWeek eq 'Saturday'}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" onclick="saturday_popUp()" id="submit_saturday">
                        <b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-sunday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()} and ${dayOfWeek eq 'Sunday'}">
                PopUpShowSunday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input type="hidden" name="dayOfWeek" th:value="Sunday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse">
                        <option th:text="'Select Course'" th:value="null"></option>
                        <option th:each="item : ${courses}" th:value="${item.id}"
                                th:title="${item.getName()}" th:text="${item.getName()}">
                        </option>
                    </select>
                    <div id="error" class="error"
                         th:if="${#fields.hasErrors('academicCourse')} and ${dayOfWeek eq 'Sunday'}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" onclick="sunday_popUp()" id="submit_sunday"><b>Save</b>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var maxLength = 23;
    $('#academicCourse > option').text(function (i, text) {
        if (text.length > maxLength) {
            return text.substr(0, maxLength) + '...';
        }
    });
</script>
</body>
</html>