<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/timetable/timetable4.css" rel="stylesheet">
    <title>Success</title>

</head>
<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
</div>
<div class="main-wrapper">
    <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

    <div class="middle">
    <div class="url-path">
        <!-- todo -->
        <a class="a-url" th:href="${'/'+firstUrl}" th:text="${'Academic classes'}"></a>
<!--        change-->
        <p class="a-url">/</p>
        <a class="a-url" th:href="${'/' + firstUrl + '/' + middleUrl}" th:text="${'1A'}"></a> <!-- ${middleUrl} -->
        <p class="a-url">/</p>
        <a class="a-url" th:classappend="${allUrl}" th:href="${allUrl}" th:text="${'Timetable'}"></a> <!-- ${middleUrl} -->
<!--        change-->
        <p class="a-url">/</p>
        <a class="a-url" th:classappend="${activeTab}" th:href="${activeTab}" th:text="${'Creation'}"></a>
    </div>
        <p class="successMsg">Timetable created successfully.</p>
    </div>

</div>
</body>
</html>