<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/timetable/timetable4.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/popupControlTimetable.js"></script>
    <title>Timetable</title>

</head>
<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
</div>
<div class="main-wrapper">
    <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

    <div class="middle">
    <div class="url-path">
        <!-- todo -->
        <a class="a-url" th:href="${'/'+firstUrl}" th:text="${'Academic classes'}"></a>
<!--        change-->
        <p class="a-url">/</p>
        <a class="a-url" th:classappend="${allUrl}" th:href="${allUrl}" th:text="${middleUrl}"></a>
<!--        change-->
        <p class="a-url">/</p>
        <a class="a-url" th:href="${activeTab}" th:text="${'Timetable'}"></a>
    </div>
        <div th:if="${timetable == null}">
            <p class="msg">There is no active Timetable.</p>
            <button class="show-btn" id="show-btn" ><b>Create Timetable</b></button>
            <!--        when click on button must go to the 4.1html-->
        </div>

        <div class="main-down" th:if="${timetable != null}">
            <form class="form-timetable" action="#">
                <div class="dates_and_create">
                    <div class="dates">
                        <div class="date_half">
                            <label>Start date</label>
                            <div class="input_left">
                                <input class="date_input" type="text" name="startDate" placeholder="Pick date"
                                       style="width: 100px;">
                            </div>
                        </div>
                        <div class="date_half">
                            <label>End date</label>
                            <div class="input_left">
                                <input class="date_input" type="text" name="startDate" placeholder="Pick date"
                                       style="width: 100px;">
                            </div>
                        </div>
                    </div>
                    <div class="create">
                        <input class="button" type="button" value="Edit">
                    </div>
                </div>

                <div class="timetable">
                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Monday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item">
                                    <div class="btn"><label for="show" class="close-btn" title="close">×</label>
                                    </div>
                                    <div class="title"><a>English</a></div>
                                </div>
                                <div class="single_item">
                                    <div class="btn"><label for="show" class="close-btn" title="close">×</label>
                                    </div>
                                    <div class="title"><a>Python</a></div>
                                </div>
                                <div class="single_item">
                                    <div class="btn"><label for="show" class="close-btn" title="close">×</label>
                                    </div>
                                    <div class="title"><a>Java</a></div>
                                </div>
                                <div class="single_item">
                                    <div class="btn"><label for="show" class="close-btn" title="close">×</label>
                                    </div>
                                    <div class="title"><a>JavaScript</a></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Tuesday</a></div>
                        <div class="lessons"></div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Wednesday</a></div>
                        <div class="lessons"></div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Thursday</a></div>
                        <div class="lessons"></div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Friday</a></div>
                        <div class="lessons"></div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Saturday</a></div>
                        <div class="lessons"></div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Sunday</a></div>
                        <div class="lessons"></div>
                    </div>
                </div>
            </form>

            <div class="sidebar2">
                <a href="#clasroom" class="item">Classroom</a>
                <a href="#students" class="item">Students</a>
                <a href="#courses" class="item">Courses</a>
                <a href="#teachers" class="item">Teachers</a>
                <a th:classappend="${activeTab eq 'timetable' ? 'activeTab' : 'notActiveTab'}" href="/timetable" class="item">Timetable</a>
            </div>

        </div>

    </div>

<!--    <div class="popup-container" id="popup-container">-->
<!--        <label class="close-btn" onclick="PopUpHide()" title="close">×</label>-->

<!--        <script th:inline="javascript" th:if="${timetable} != null">-->
<!--            PopUpShow();-->
<!--        </script>-->

<!--        <div class="popup-wrapper">-->

<!--        </div>-->
<!--    </div>-->

</div>
</body>
</html>