<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/timetable/timetable4.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/static/js/popupControlTimetable.js"></script>
    <title>Timetable</title>

</head>
<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
</div>
<div class="main-wrapper" id="main-wrapper">
    <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

    <div class="middle">
        <div class="url-path">
            <!-- todo -->
            <a class="a-url" th:href="${'/'+firstUrl}" th:text="${'Academic classes'}"></a>
            <!--        change-->
            <p class="a-url">/</p>
            <a class="a-url" th:classappend="${allUrl}" th:href="${allUrl}" th:text="${middleUrl}"></a>
            <!--        change-->
            <p class="a-url">/</p>
            <a class="a-url" th:href="${activeTab}" th:text="${'Timetable'}"></a>
        </div>
        <div th:if="${timetable == null}">
            <p class="msg">There is no active Timetable.</p>

            <a class="show-btn" th:href="@{'/classes/' + ${middleUrl} + '/timetable' + '/creation'}" id="show-btn"><b>Create Timetable</b></a>
            <!--        when click on button must go to the 4.1html-->
        </div>

        <div class="main-down" th:if="${timetable != null}">
            <form class="form-timetable" action="#">
                <div class="dates_and_create">
                    <div class="dates">
                        <div class="date_half">
                            <label>Start date</label>
                            <div class="input_left">
                                <input class="date_input" type="text" name="startDate" placeholder="Pick date"
                                       style="width: 100px;">
                            </div>
                        </div>
                        <div class="date_half">
                            <label>End date</label>
                            <div class="input_left">
                                <input class="date_input" type="text" name="startDate" placeholder="Pick date"
                                       style="width: 100px;">
                            </div>
                        </div>
                    </div>
                    <div class="create">
                        <input class="button" type="button" value="Edit">
                    </div>
                </div>

                <div class="timetable">
                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Monday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfMonday}">
                                    <div class="btn"><a th:href="@{'/timetable/delete/' + ${lesson.id}}">
                                        <label class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Tuesday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfTuesday}">
                                    <div class="btn"><a th:href="@{'/timetable/delete/' + ${lesson.id}}">
                                        <label class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Wednesday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfWednesday}">
                                    <div class="btn"><a th:href="@{'/timetable/delete/' + ${lesson.id}}">
                                        <label class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Thursday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfThursday}">
                                    <div class="btn"><a th:href="@{'/timetable/delete/' + ${lesson.id}}">
                                        <label class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Friday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfFriday}">
                                    <div class="btn"><a th:href="@{'/timetable/delete/' + ${lesson.id}}">
                                        <label class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Saturday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfSaturday}">
                                    <div class="btn"><a th:href="@{'/timetable/delete/' + ${lesson.id}}">
                                        <label class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Sunday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">
                                <div class="single_item" th:each="lesson : ${lessonsOfSunday}">
                                    <div class="btn"><a th:href="@{'/timetable/delete/' + ${lesson.id}}">
                                        <label class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <div class="sidebar2">
                <a href="#clasroom" class="item">Classroom</a>
                <a href="#students" class="item">Students</a>
                <a href="#courses" class="item">Courses</a>
                <a href="#teachers" class="item">Teachers</a>
                <a th:classappend="${activeTab eq 'timetable' ? 'activeTab' : 'notActiveTab'}" href="/timetable"
                   class="item">Timetable</a>
            </div>

        </div>

    </div>

    <div class="create-pop">

        <div class="popup-container" id="popup-container">
            <button class="close-btn" title="close" onclick="PopUpHide()">×</button>

            <!--            <form id="form" class="form" th:method="POST" th:action="@{/timetable/creation}">-->

            <script th:inline="javascript" th:if="${timetable}">
                PopUpShow();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <p class="successText">Timetable created successfully.</p>
                    <div class="error"></div>
                </div>
                <div name="btn-div">
                    <button type="button" class="button-save" id="submit"><b>Ok</b></button>
                </div>
            </div>
            <!--            </form>-->
        </div>
    </div>

</div>
</body>
</html>