<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/timetable/timetable4-1.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/static/js/popupControlTimetable.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#startDate").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                // onselect: f(),
            });
            $("#endDate").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
    <style>
        .ui-datepicker .ui-datepicker-header {
            position: relative;
            padding: 7px 0;
            background: #01A7F0;
            border: 0;
            margin: -1px;
            border-radius: 0;
        }

        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
            border: 1px solid #01A7F0;
            background: #01A7F0;
            color: #111111;
        }
    </style>

    <title>Timetable</title>
</head>

<body>
<div class="header" id="header">
    <div th:insert="fragments/fragments :: container"></div>
</div>

<div class="main-wrapper" id="main-wrapper">
    <div class="sidebar" th:insert="fragments/fragments :: menu"></div>

    <div class="middle">
        <div class="url-path">
            <!-- todo -->
            <a class="a-url" th:href="${'/'+firstUrl}" th:text="${'Academic classes'}"></a>
            <!--        change-->
            <p class="a-url">/</p>
            <a class="a-url"  th:href="${allUrl}" th:text="${middleUrl}"></a>
            <!--        change-->
            <p class="a-url">/</p>
            <a class="a-url"  th:href="${activeTab}" th:text="${'Timetable'}"></a>
            <p class="a-url">/</p>
            <a class="a-url"  th:href="${allUrl}" th:text="${'Creation'}"></a>
        </div>

        <div class="main-down">
            <div class="form-timetable">
                <form th:method="POST" th:action="@{'/classes/timetable/creation'}" th:object="${timetable}">
                    <div class="dates_and_create">
                        <div class="dates">
                            <div class="date_half">
                                <label>Start date <span style="color:#A30014">* </span></label>
                                <input class="form_input" placeholder="Date pick"
                                       th:type="text"
                                       th:name="startDate"
                                       th:value="*{startDate}"
                                       th:id="startDate"/>
                            </div>
                            <div class="error" th:if="${#fields.hasErrors('startDate')}"
                                 th:errors="*{startDate}"></div>
                            <div class="error" th:if="${invalid}!= null">
                                <p th:text="${invalid}"></p>
                            </div>
                            <div class="date_half">
                                <label>End date <span style="color:#A30014">* </span></label>
                                <div class="input_left">
                                    <input class="form_input" placeholder="Date pick"
                                           th:type="text"
                                           th:name="endDate"
                                           th:value="*{endDate}"
                                           th:field="*{endDate}"
                                           th:id="endDate"/>
                                </div>
                                <div class="error" th:if="${#fields.hasErrors('endDate')}"
                                     th:errors="*{endDate}"></div>
                                <div class="error" th:if="${invalid}!= null">
                                    <p th:text="${invalid}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="create">
                            <input id="class" type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                            <button type="submit" class="show-btn"><b>Create</b></button>
                        </div>
                    </div>
                </form>
                <div class="timetable">
                    <div class="dayOfWeek">
                        <div class="dayHeader" id="monday" th:value="monday"><a>Monday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">

                                <div class="single_item" th:each="lesson : ${lessonsOfMonday}">
                                    <div class="btn"><a th:href="@{'/classes/course/delete/' + ${lesson.id} + '/' + ${academicClass.classNumber}}"><label
                                            class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>

                            </div>
                        </div>
                        <div class="add">
                            <button type="button" onclick="PopUpShowMonday()" class="plus" value="Monday"><b>+</b>
                            </button>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Tuesday</a></div>
                        <div class="lessons">
                            <div class="single_lesson_wrapper">

                                <div class="single_item" th:each="lesson : ${lessonsOfTuesday}">
                                    <div class="btn"><a th:href="@{'/classes/course/delete/' + ${lesson.id} + '/' + ${academicClass.classNumber}}"><label
                                            class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>

                            </div>
                        </div>
                        <div class="add">
                            <button type="button" onclick="PopUpShowTuesday()" class="plus" value="Tuesday"><b>+</b>
                            </button>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Wednesday</a></div>
                        <div class="lessons">

                            <div class="single_lesson_wrapper">

                                <div class="single_item" th:each="lesson : ${lessonsOfWednesday}">
                                    <div class="btn"><a th:href="@{'/classes/course/delete/' + ${lesson.id} + '/' + ${academicClass.classNumber}}"><label
                                            class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>

                            </div>

                        </div>
                        <div class="add">
                            <button type="button" onclick="PopUpShowWednesday()" class="plus" value="Wednesday"><b>+</b>
                            </button>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Thursday</a></div>
                        <div class="lessons">

                            <div class="single_lesson_wrapper">

                                <div class="single_item" th:each="lesson : ${lessonsOfThursday}">
                                    <div class="btn"><a th:href="@{'/classes/course/delete/' + ${lesson.id} + '/' + ${academicClass.classNumber}}"><label
                                            class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>

                            </div>

                        </div>
                        <div class="add">
                            <button type="button" onclick="PopUpShowThursday()" class="plus" value="Thursday"><b>+</b></button>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Friday</a></div>
                        <div class="lessons">

                            <div class="single_lesson_wrapper">

                                <div class="single_item" th:each="lesson : ${lessonsOfFriday}">
                                    <div class="btn"><a th:href="@{'/classes/course/delete/' + ${lesson.id} + '/' + ${academicClass.classNumber}}"><label
                                            class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>

                            </div>

                        </div>
                        <div class="add">
                            <button type="button" onclick="PopUpShowFriday()" class="plus" value="Friday"><b>+</b></button>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Saturday</a></div>
                        <div class="lessons">

                            <div class="single_lesson_wrapper">

                                <div class="single_item" th:each="lesson : ${lessonsOfSaturday}">
                                    <div class="btn"><a th:href="@{'/classes/course/delete/' + ${lesson.id} + '/' + ${academicClass.classNumber}}"><label
                                            class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>

                            </div>

                        </div>
                        <div class="add">
                            <button type="button" onclick="PopUpShowSaturday()" class="plus" value="Saturday"><b>+</b></button>
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Sunday</a></div>
                        <div class="lessons">

                            <div class="single_lesson_wrapper">

                                <div class="single_item" th:each="lesson : ${lessonsOfSunday}">
                                    <div class="btn"><a th:href="@{'/classes/course/delete/' + ${lesson.id} + '/' + ${academicClass.classNumber}}"><label
                                            class="close-btn" title="close">×</label></a></div>
                                    <div class="title"><a th:text="${lesson.academicCourse}">Name</a></div>
                                </div>

                            </div>

                        </div>
                        <div class="add">
                            <button type="button" onclick="PopUpShowSunday()" class="plus" th:value="Sunday"><b>+</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-monday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                PopUpShowMonday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input id="demo" type="hidden" name="dayOfWeek" th:value="Monday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse"
                            th:field="*{academicCourse}">
                        <option th:if="*{academicCourse == null}" class="short" th:text="'Select Course'"
                                data-limit="23" th:value="null"></option>
                        <option class="short" data-limit="23" th:each="item : ${courses}" th:value="${item.id}"
                                th:text="${item.getName()}"></option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('academicCourse')}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="create-pop">

    <div class="popup-container" id="popup-container-tuesday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                PopUpShowTuesday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input id="demo" type="hidden" name="dayOfWeek" th:value="Tuesday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse"
                            th:field="*{academicCourse}">
                        <option th:if="*{academicCourse == null}" class="short" th:text="'Select Course'"
                                data-limit="23" th:value="null"></option>
                        <option class="short" data-limit="23" th:each="item : ${courses}" th:value="${item.id}"
                                th:text="${item.getName()}"></option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('academicCourse')}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-wednesday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                PopUpShowWednesday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input id="demo" type="hidden" name="dayOfWeek" th:value="Wednesday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse"
                            th:field="*{academicCourse}">
                        <option th:if="*{academicCourse == null}" class="short" th:text="'Select Course'"
                                data-limit="23" th:value="null"></option>
                        <option class="short" data-limit="23" th:each="item : ${courses}" th:value="${item.id}"
                                th:text="${item.getName()}"></option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('academicCourse')}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-thursday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                PopUpShowThursday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input id="demo" type="hidden" name="dayOfWeek" th:value="Thursday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse"
                            th:field="*{academicCourse}">
                        <option th:if="*{academicCourse == null}" class="short" th:text="'Select Course'"
                                data-limit="23" th:value="null"></option>
                        <option class="short" data-limit="23" th:each="item : ${courses}" th:value="${item.id}"
                                th:text="${item.getName()}"></option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('academicCourse')}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-friday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                PopUpShowFriday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input id="demo" type="hidden" name="dayOfWeek" th:value="Friday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse"
                            th:field="*{academicCourse}">
                        <option th:if="*{academicCourse == null}" class="short" th:text="'Select Course'"
                                data-limit="23" th:value="null"></option>
                        <option class="short" data-limit="23" th:each="item : ${courses}" th:value="${item.id}"
                                th:text="${item.getName()}"></option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('academicCourse')}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-saturday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                PopUpShowSaturday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input id="demo" type="hidden" name="dayOfWeek" th:value="Saturday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse"
                            th:field="*{academicCourse}">
                        <option th:if="*{academicCourse == null}" class="short" th:text="'Select Course'"
                                data-limit="23" th:value="null"></option>
                        <option class="short" data-limit="23" th:each="item : ${courses}" th:value="${item.id}"
                                th:text="${item.getName()}"></option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('academicCourse')}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="create-pop">

    <div class="popup-container" id="popup-container-sunday">
        <button class="close-btn" title="close" onclick="PopUpHide()">×</button>
        <h1>Add Lesson</h1>

        <form id="form" class="form" th:method="POST" th:action="@{'/classes/' + ${middleUrl} + '/timetable/course'}"
              th:object="${courseForTable}">

            <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                PopUpShowSunday();
            </script>
            <div class="popup-wrapper">
                <div class="half">
                    <input id="demo" type="hidden" name="dayOfWeek" th:value="Sunday"/>
                    <input type="hidden" name="academicClass" th:value="${academicClass.id}"/>
                    <label class="popup-label-title">Course <span style="color:#A30014">*</span></label>
                    <select class="form_input" th:name="academicCourse" th:id="academicCourse"
                            th:field="*{academicCourse}">
                        <option th:if="*{academicCourse == null}" class="short" th:text="'Select Course'"
                                data-limit="23" th:value="null"></option>
                        <option class="short" data-limit="23" th:each="item : ${courses}" th:value="${item.id}"
                                th:text="${item.getName()}"></option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('academicCourse')}"
                         th:errors="*{academicCourse}"></div>
                </div>
                <div class="half2"></div>
                <div name="btn-div">
                    <button type="submit" class="button-save" id="submit"><b>Save</b></button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>